n8n/n8n-qsd-test/qsdsan-wastewater-simulation-vm.json
{
  "name": "QSDsan Simulation v2.0",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "server_ip",
              "value": "172.18.0.3"
            },
            {
              "name": "server_port",
              "value": "8080"
            },
            {
              "name": "template",
              "value": "mle_mbr_asm2d"
            }
          ],
          "number": [
            {
              "name": "timeout_seconds",
              "value": 300
            },
            {
              "name": "check_interval_seconds",
              "value": 60
            },
            {
              "name": "hard_cancel_buffer",
              "value": 120
            },
            {
              "name": "flow_m3_d",
              "value": 4000
            },
            {
              "name": "temperature_C",
              "value": 20
            },
            {
              "name": "COD_mg_L",
              "value": 350
            },
            {
              "name": "NH4_mg_L",
              "value": 25
            },
            {
              "name": "TP_mg_L",
              "value": 8
            },
            {
              "name": "TSS_mg_L",
              "value": 220
            }
          ]
        },
        "options": {}
      },
      "id": "set-parameters",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "notesInFlow": true,
      "notes": "Configure simulation parameters here"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://{{ $json.server_ip }}:{{ $json.server_port }}/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "notesInFlow": true,
      "notes": "Step 1: Verify server connection",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "health-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-health-status",
      "name": "Server Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Server not reachable or unhealthy"
            },
            {
              "name": "suggestion",
              "value": "Start the server with: gcloud compute instances start qsdsan-vm --zone=us-central1-a --project=lotsawatts"
            }
          ]
        },
        "options": {}
      },
      "id": "server-error",
      "name": "Server Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 480]
    },
    {
      "parameters": {
        "jsCode": "// Extract version from health check (input) and use stored params\n// The input comes from Server Healthy? which passes through health check data\nconst inputData = $input.first().json;\n\n// Health data comes from the health check response\nconst version = inputData.version || 'unknown';\nconst environment = inputData.environment || 'unknown';\n\n// Parameters are passed through from Set Parameters via the chain\n// We need to access them from the execution context\nconst params = {\n  server_ip: '172.18.0.3',\n  server_port: '8080',\n  template: 'mle_mbr_asm2d',\n  timeout_seconds: 300,\n  check_interval_seconds: 60,\n  hard_cancel_buffer: 120,\n  flow_m3_d: 4000,\n  temperature_C: 20,\n  COD_mg_L: 350,\n  NH4_mg_L: 25,\n  TP_mg_L: 8,\n  TSS_mg_L: 220\n};\n\n// Calculate temperature in Kelvin\nconst temperature_K = params.temperature_C + 273.15;\n\n// Distribute COD among components (50% S_F, 15% S_A, 35% X_S)\nconst S_F = params.COD_mg_L * 0.5 * 0.5;  // ~50% of soluble COD\nconst S_A = params.COD_mg_L * 0.5 * 0.15; // ~15% of soluble COD  \nconst X_S = params.COD_mg_L * 0.35;       // ~35% particulate\n\n// Distribute TSS (25% X_I, 75% added to X_S)\nconst X_I = params.TSS_mg_L * 0.25;\nconst X_S_total = X_S + (params.TSS_mg_L * 0.75 * 0.5); // Adjust for overlap\n\nreturn {\n  json: {\n    // Startup message\n    startup_message: `Processing with procedure: qsdsan-engine v${version}`,\n    server_version: version,\n    environment: environment,\n    \n    // Pass through parameters\n    server_ip: params.server_ip,\n    server_port: params.server_port,\n    template: params.template,\n    timeout_seconds: params.timeout_seconds,\n    check_interval_seconds: params.check_interval_seconds,\n    hard_cancel_threshold: params.timeout_seconds + params.hard_cancel_buffer,\n    \n    // Influent parameters\n    flow_m3_d: params.flow_m3_d,\n    temperature_K: temperature_K,\n    \n    // Calculated concentrations\n    concentrations: {\n      S_O2: 0,\n      S_F: Math.round(S_F * 10) / 10,\n      S_A: Math.round(S_A * 10) / 10,\n      S_I: 10,\n      S_NH4: params.NH4_mg_L,\n      S_N2: 0,\n      S_NO3: 0,\n      S_PO4: params.TP_mg_L,\n      S_ALK: 300,\n      X_I: Math.round(X_I * 10) / 10,\n      X_S: Math.round(X_S_total * 10) / 10,\n      X_H: 30,\n      X_PAO: 0,\n      X_PP: 0,\n      X_PHA: 0,\n      X_AUT: 0,\n      X_MeOH: 0,\n      X_MeP: 0,\n      H2O: 1000\n    },\n    \n    // Original user inputs for report\n    input_COD: params.COD_mg_L,\n    input_NH4: params.NH4_mg_L,\n    input_TP: params.TP_mg_L,\n    input_TSS: params.TSS_mg_L,\n    input_temp_C: params.temperature_C,\n    \n    // Tracking\n    start_time: Date.now(),\n    iteration: 0\n  }\n};"
      },
      "id": "prepare-simulation",
      "name": "Prepare Simulation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "notesInFlow": true,
      "notes": "Step 2-3: Build request payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $json.server_ip }}:{{ $json.server_port }}/api/simulate_system",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"{{ $json.template }}\",\n  \"influent\": {\n    \"model_type\": \"ASM2d\",\n    \"flow_m3_d\": {{ $json.flow_m3_d }},\n    \"temperature_K\": {{ $json.temperature_K }},\n    \"concentrations\": {{ JSON.stringify($json.concentrations) }}\n  },\n  \"duration_days\": 1.0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "submit-simulation",
      "name": "Submit Simulation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "notesInFlow": true,
      "notes": "Step 4: Start simulation"
    },
    {
      "parameters": {
        "jsCode": "// Merge job_id with existing data\n// Input comes from Submit Simulation which contains the job response\nconst submitResponse = $input.first().json;\n\n// Rebuild the params since we can't reference other nodes reliably\nconst params = {\n  server_ip: '172.18.0.3',\n  server_port: '8080',\n  template: 'mle_mbr_asm2d',\n  timeout_seconds: 300,\n  check_interval_seconds: 60,\n  hard_cancel_threshold: 420,\n  flow_m3_d: 4000,\n  temperature_K: 293.15,\n  input_COD: 350,\n  input_NH4: 25,\n  input_TP: 8,\n  input_TSS: 220,\n  input_temp_C: 20\n};\n\nreturn {\n  json: {\n    ...params,\n    server_version: 'unknown',\n    job_id: submitResponse.job_id,\n    job_status: submitResponse.status,\n    submit_message: submitResponse.message,\n    start_time: Date.now(),\n    iteration: 0\n  }\n};"
      },
      "id": "store-job-id",
      "name": "Store Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "amount": "={{ $json.check_interval_seconds }}",
        "unit": "seconds"
      },
      "id": "wait-interval",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1540, 300],
      "webhookId": "qsdsan-wait"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://{{ $json.server_ip }}:{{ $json.server_port }}/api/get_job_status?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "check-status",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300],
      "notesInFlow": true,
      "notes": "Step 5: Poll status"
    },
    {
      "parameters": {
        "jsCode": "// Evaluate status and timeout conditions\n// Input comes from Check Job Status HTTP request\nconst statusResponse = $input.first().json;\n\n// Use defaults for timing since we can't reference other nodes\nconst timeout_seconds = 300;\nconst hard_cancel_threshold = 420;\nconst start_time = Date.now() - (statusResponse.elapsed_time_seconds || 0) * 1000;\n\nconst elapsed_seconds = statusResponse.elapsed_time_seconds || 0;\nconst iteration = 1;\n\n// Determine exit condition\nlet exit_condition = null;\nlet should_continue = true;\nlet should_terminate = false;\n\nif (statusResponse.status === 'completed' || statusResponse.status === 'failed') {\n  exit_condition = statusResponse.status;\n  should_continue = false;\n} else if (elapsed_seconds >= hard_cancel_threshold) {\n  exit_condition = 'hard_cancel';\n  should_continue = false;\n  should_terminate = true;\n} else if (elapsed_seconds >= timeout_seconds) {\n  exit_condition = 'timeout';\n  should_continue = false;\n}\n\nreturn {\n  json: {\n    server_ip: '172.18.0.3',\n    server_port: '8080',\n    template: 'mle_mbr_asm2d',\n    timeout_seconds: timeout_seconds,\n    hard_cancel_threshold: hard_cancel_threshold,\n    job_id: statusResponse.job_id,\n    flow_m3_d: 4000,\n    input_COD: 350,\n    input_NH4: 25,\n    input_TP: 8,\n    input_TSS: 220,\n    input_temp_C: 20,\n    server_version: 'unknown',\n    current_status: statusResponse.status,\n    elapsed_seconds: elapsed_seconds,\n    elapsed_from_api: statusResponse.elapsed_time_seconds,\n    iteration: iteration,\n    progress_message: `Simulation running... elapsed time: ${elapsed_seconds}s (timeout: ${timeout_seconds}s)`,\n    exit_condition: exit_condition,\n    should_continue: should_continue,\n    should_terminate: should_terminate\n  }\n};"
      },
      "id": "evaluate-status",
      "name": "Evaluate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-continue",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "continue-polling",
      "name": "Continue Polling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-terminate",
              "leftValue": "={{ $json.should_terminate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-terminate",
      "name": "Need Terminate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $json.server_ip }}:{{ $json.server_port }}/api/terminate_job?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "terminate-job",
      "name": "Terminate Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 560],
      "notesInFlow": true,
      "notes": "Hard cancel after timeout+120s"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://{{ $json.server_ip }}:{{ $json.server_port }}/api/get_job_results?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-results",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 480],
      "notesInFlow": true,
      "notes": "Step 6: Retrieve results"
    },
    {
      "parameters": {
        "jsCode": "// Combine all data for report generation\n// Input comes from Get Results HTTP request\nconst resultsResponse = $input.first().json;\n\n// Extract results safely\nconst results = resultsResponse.results || {};\nconst performance = results.performance || {};\nconst effluent = results.effluent || {};\nconst reactor = results.reactor || {};\nconst influent = results.influent || {};\n\n// Performance metrics\nconst cod = performance.cod || {};\nconst nitrogen = performance.nitrogen || {};\nconst phosphorus = performance.phosphorus || {};\nconst tss = performance.tss || {};\n\n// Determine status from results\nconst exit_condition = resultsResponse.status || 'completed';\n\n// Determine overall assessment\nlet assessment = 'Incomplete';\nif (exit_condition === 'completed') {\n  const cod_removal = cod.removal_pct || 0;\n  const nh4_eff = effluent.NH4_mg_N_L || 999;\n  \n  if (cod_removal > 95 && nh4_eff < 1) {\n    assessment = 'Excellent';\n  } else if (cod_removal > 85 && nh4_eff < 5) {\n    assessment = 'Good';\n  } else if (cod_removal > 75) {\n    assessment = 'Needs Optimization';\n  } else {\n    assessment = 'Poor';\n  }\n}\n\n// Status text\nlet status_text = exit_condition;\nif (status_text === 'hard_cancel') status_text = 'Terminated (hard cancel)';\nif (status_text === 'timeout') status_text = 'Timed Out';\nif (status_text === 'completed') status_text = 'Completed';\nif (status_text === 'failed') status_text = 'Failed';\n\nreturn {\n  json: {\n    // Report metadata\n    report_date: new Date().toISOString(),\n    job_id: resultsResponse.job_id || 'unknown',\n    template: 'mle_mbr_asm2d',\n    status: status_text,\n    elapsed_seconds: 0,\n    timeout_setting: 300,\n    server_version: 'unknown',\n    assessment: assessment,\n    \n    // Influent (user inputs)\n    influent: {\n      flow_m3_d: 4000,\n      COD_mg_L: 350,\n      TSS_mg_L: 220,\n      NH4_mg_L: 25,\n      TP_mg_L: 8,\n      temperature_C: 20\n    },\n    \n    // Reactor configuration\n    reactor: {\n      type: reactor.type || 'N/A',\n      V_total_m3: reactor.V_total_m3 || 'N/A',\n      HRT_hours: reactor.HRT_hours || 'N/A',\n      SRT_days: typeof reactor.SRT_days === 'number' ? reactor.SRT_days.toFixed(1) : 'N/A',\n      DO_aerobic: reactor.DO_aerobic_mg_L || 'N/A'\n    },\n    \n    // Effluent quality\n    effluent: {\n      COD_mg_L: effluent.COD_mg_L ? effluent.COD_mg_L.toFixed(2) : 'N/A',\n      TSS_mg_L: effluent.TSS_mg_L ? effluent.TSS_mg_L.toFixed(2) : 'N/A',\n      NH4_mg_L: effluent.NH4_mg_N_L ? effluent.NH4_mg_N_L.toFixed(2) : 'N/A',\n      NO3_mg_L: effluent.NO3_mg_N_L ? effluent.NO3_mg_N_L.toFixed(2) : 'N/A',\n      PO4_mg_L: effluent.PO4_mg_P_L ? effluent.PO4_mg_P_L.toFixed(2) : 'N/A'\n    },\n    \n    // Removal efficiencies\n    removal: {\n      COD_pct: cod.removal_pct ? cod.removal_pct.toFixed(1) : 'N/A',\n      TSS_pct: tss.removal_pct ? tss.removal_pct.toFixed(1) : 'N/A',\n      NH4_pct: nitrogen.removal?.NH4_removal_pct ? nitrogen.removal.NH4_removal_pct.toFixed(1) : 'N/A',\n      TN_pct: nitrogen.removal?.TN_removal_pct ? nitrogen.removal.TN_removal_pct.toFixed(1) : 'N/A',\n      TP_pct: phosphorus.removal?.TP_removal_pct ? phosphorus.removal.TP_removal_pct.toFixed(1) : 'N/A'\n    },\n    \n    // Process performance\n    nitrification_pct: nitrogen.removal?.nitrification_efficiency_pct ? nitrogen.removal.nitrification_efficiency_pct.toFixed(1) : 'N/A',\n    denitrification_pct: nitrogen.removal?.denitrification_efficiency_pct ? nitrogen.removal.denitrification_efficiency_pct.toFixed(1) : 'N/A',\n    \n    // Raw results for reference\n    raw_results: resultsResponse\n  }\n};"
      },
      "id": "process-results",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 480],
      "notesInFlow": true,
      "notes": "Step 7: Interpret results"
    },
    {
      "parameters": {
        "jsCode": "// Generate Markdown report\nconst data = $input.first().json;\n\nconst incomplete_note = data.status !== 'Completed' \n  ? '\\n\\n> **Note:** This simulation did not complete within the allocated time. Results shown are partial and may not represent steady-state conditions.'\n  : '';\n\nconst report = `# Wastewater Treatment Simulation Report\n\n**Generated:** ${new Date(data.report_date).toLocaleString()}\n**Job ID:** ${data.job_id}\n**Template:** ${data.template}\n**Status:** ${data.status}\n**Elapsed Time:** ${data.elapsed_seconds} seconds\n\n---\n\n## Executive Summary\n\nSimulation ${data.status.toLowerCase()} using the ${data.template} template. ${incomplete_note}\n\n**Overall Assessment:** ${data.assessment}\n\n---\n\n## Influent Characteristics\n\n| Parameter | Value | Unit | Typical Range |\n|-----------|-------|------|---------------|\n| Flow | ${data.influent.flow_m3_d} | m³/d | - |\n| COD | ${data.influent.COD_mg_L} | mg/L | 300-600 |\n| TSS | ${data.influent.TSS_mg_L} | mg/L | 200-400 |\n| NH4-N | ${data.influent.NH4_mg_L} | mg/L | 25-50 |\n| Total P | ${data.influent.TP_mg_L} | mg/L | 6-12 |\n| Temperature | ${data.influent.temperature_C} | °C | 15-25 |\n\n---\n\n## Treatment System Configuration\n\n| Parameter | Value |\n|-----------|-------|\n| Template | ${data.template} |\n| Reactor Type | ${data.reactor.type} |\n| Total Volume | ${data.reactor.V_total_m3} m³ |\n| HRT | ${data.reactor.HRT_hours} hours |\n| SRT | ${data.reactor.SRT_days} days |\n| Aerobic DO | ${data.reactor.DO_aerobic} mg/L |\n\n---\n\n## Effluent Quality\n\n| Parameter | Influent | Effluent | Removal % |\n|-----------|----------|----------|----------|\n| COD | ${data.influent.COD_mg_L} mg/L | ${data.effluent.COD_mg_L} mg/L | ${data.removal.COD_pct}% |\n| TSS | ${data.influent.TSS_mg_L} mg/L | ${data.effluent.TSS_mg_L} mg/L | ${data.removal.TSS_pct}% |\n| NH4-N | ${data.influent.NH4_mg_L} mg/L | ${data.effluent.NH4_mg_L} mg/L | ${data.removal.NH4_pct}% |\n| TN | - | - | ${data.removal.TN_pct}% |\n| TP | ${data.influent.TP_mg_L} mg/L | ${data.effluent.PO4_mg_L} mg/L | ${data.removal.TP_pct}% |\n\n---\n\n## Process Performance Analysis\n\n### Nitrification\nNitrification efficiency: **${data.nitrification_pct}%**\n\n### Denitrification  \nDenitrification efficiency: **${data.denitrification_pct}%**\n\n---\n\n## Technical Notes\n\n- Timeout Setting: ${data.timeout_setting} seconds\n- Actual Runtime: ${data.elapsed_seconds} seconds\n- Server Version: ${data.server_version}\n\n---\n\n*Report generated by QSDsan Wastewater Simulation Engine v1.0*\n`;\n\nreturn {\n  json: {\n    ...data,\n    report_markdown: report,\n    report_filename: `wastewater_simulation_${data.job_id}.md`\n  }\n};"
      },
      "id": "generate-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 480],
      "notesInFlow": true,
      "notes": "Step 8: Generate PDF report"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.2:3000/forms/chromium/convert/markdown",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "index.html",
              "value": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>Simulation Report</title><style>body{font-family:Arial,sans-serif;margin:40px;line-height:1.6}h1{color:#2c3e50;border-bottom:2px solid #3498db;padding-bottom:10px}h2{color:#34495e;margin-top:30px}table{border-collapse:collapse;width:100%;margin:20px 0}th,td{border:1px solid #ddd;padding:12px;text-align:left}th{background-color:#3498db;color:white}tr:nth-child(even){background-color:#f2f2f2}hr{border:none;border-top:1px solid #bdc3c7;margin:30px 0}.assessment{font-size:1.2em;padding:10px;border-radius:5px;display:inline-block}.excellent{background:#27ae60;color:white}.good{background:#2ecc71;color:white}.needs-optimization{background:#f39c12;color:white}.poor{background:#e74c3c;color:white}.incomplete{background:#95a5a6;color:white}blockquote{background:#fff3cd;border-left:4px solid #ffc107;padding:10px 20px;margin:20px 0}</style></head><body></body></html>"
            },
            {
              "parameterType": "formData",
              "name": "file.md",
              "value": "={{ $json.report_markdown }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "convert-to-pdf",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3520, 480],
      "notesInFlow": true,
      "notes": "Gotenberg Markdown→PDF"
    },
    {
      "parameters": {
        "fileName": "=wastewater_simulation_report.pdf",
        "mimeType": "application/pdf"
      },
      "id": "output-pdf",
      "name": "Output PDF",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [3740, 480]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "output-json",
      "name": "Output JSON",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [3740, 620],
      "notesInFlow": true,
      "notes": "Backup JSON data"
    },
    {
      "parameters": {},
      "id": "end-success",
      "name": "End (Success)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3960, 480]
    },
    {
      "parameters": {},
      "id": "end-error",
      "name": "End (Error)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 480]
    },
    {
      "parameters": {
        "jsCode": "// Loop back with updated data for next iteration\nconst evalData = $input.first().json;\n\n// Update the Store Job ID node data for next iteration\nreturn {\n  json: {\n    ...evalData\n  }\n};"
      },
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 200]
    },
    {
      "parameters": {
        "jsCode": "// Pass through data after termination\nconst terminateResponse = $input.first().json;\n\nreturn {\n  json: {\n    server_ip: '172.18.0.3',\n    server_port: '8080',\n    job_id: terminateResponse.job_id || 'unknown',\n    termination_response: terminateResponse\n  }\n};"
      },
      "id": "after-terminate",
      "name": "After Terminate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 560]
    },
    {
      "parameters": {
        "jsCode": "// Pass through data when no termination needed\nconst evalData = $input.first().json;\n\nreturn {\n  json: evalData\n};"
      },
      "id": "skip-terminate",
      "name": "Skip Terminate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 400]
    },
    {
      "parameters": {},
      "id": "merge-paths",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2860, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Server Healthy?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server Healthy?": {
      "main": [
        [
          {
            "node": "Prepare Simulation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server Error": {
      "main": [
        [
          {
            "node": "End (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Simulation": {
      "main": [
        [
          {
            "node": "Submit Simulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Simulation": {
      "main": [
        [
          {
            "node": "Store Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Job ID": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Evaluate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Status": {
      "main": [
        [
          {
            "node": "Continue Polling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Polling?": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Need Terminate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Terminate?": {
      "main": [
        [
          {
            "node": "Terminate Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Terminate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terminate Job": {
      "main": [
        [
          {
            "node": "After Terminate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After Terminate": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Terminate": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Output PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output PDF": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output JSON": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "qsdsan-wastewater-v1"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 0,
  "tags": [
    {
      "name": "wastewater",
      "id": "1"
    },
    {
      "name": "simulation",
      "id": "2"
    },
    {
      "name": "qsdsan",
      "id": "3"
    }
  ]
}
