n8n/n8n-qsd-test/qsdsan-simulation-v9.json
{
  "name": "QSDsan Simulation v9.0",
  "nodes": [
    {
      "parameters": {},
      "id": "61442d83-0886-47a2-ae7d-fa2a50d6e87f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4336,
        -224
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qsdsan-simulate",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger-v9",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4336,
        -64
      ],
      "webhookId": "qsdsan-v9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e8faea6-43ed-4267-a960-e36ce924ea76",
              "name": "server_ip",
              "value": "34.28.104.162",
              "type": "string"
            },
            {
              "id": "deec9d42-ce50-478d-ad98-843d740327b0",
              "name": "server_port",
              "value": "8080",
              "type": "string"
            },
            {
              "id": "fea802b5-1952-4f57-8adb-280aa3ed3096",
              "name": "gotenberg_url",
              "value": "http://34.28.104.162:3000",
              "type": "string"
            },
            {
              "id": "d731cd8d-ef0e-4b64-93d5-a0e4eec6a038",
              "name": "supabase_key",
              "value": "YOUR_SUPABASE_JWT_KEY_HERE",
              "type": "string"
            },
            {
              "id": "23216616-d177-4965-bc20-d34087d14b03",
              "name": "supabase_url",
              "value": "https://egrzvwnjrtpwwmqzimff.supabase.co",
              "type": "string"
            },
            {
              "id": "ea185044-86ac-47fc-a301-cbdf3cbc3677",
              "name": "supabase_bucket",
              "value": "panicleDevelop_1",
              "type": "string"
            },
            {
              "id": "ai-model-001",
              "name": "ai_model",
              "value": "gpt-4o",
              "type": "string"
            },
            {
              "id": "override-prompt-001",
              "name": "override_prompt",
              "value": "",
              "type": "string"
            },
            {
              "id": "session-id-001",
              "name": "session_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "analysis-type-001",
              "name": "analysis_type",
              "value": "WasteWater",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9debba0e-8106-4219-9583-3222814cf157",
      "name": "Env Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4128,
        -224
      ],
      "notesInFlow": true,
      "notes": "Configure environment settings (infrastructure only - v9)"
    },
    {
      "parameters": {
        "jsCode": "// v9: Determine input mode based on incoming data\nconst input = $input.first().json;\n\nlet mode = 'unknown';\nlet overrides = input.overrides || {};\nlet raw_input = input;\n\nif (input.study_id) {\n  mode = 'study';\n} else if (input.legacy_mode) {\n  mode = 'legacy';\n} else if (input.simulation && input.influent) {\n  mode = 'direct';\n} else if (input.template || input.flow_m3_d || input.COD_mg_L) {\n  // Auto-detect legacy format (flat parameters without explicit flag)\n  mode = 'legacy';\n} else {\n  // No simulation input provided - use default legacy parameters for manual testing\n  // This allows the workflow to run with Manual Trigger without webhook input\n  mode = 'legacy';\n  raw_input = {\n    template: 'mle_mbr_asm2d',\n    timeout_seconds: 300,\n    check_interval_seconds: 60,\n    hard_cancel_buffer: 120,\n    flow_m3_d: 4000,\n    temperature_C: 20,\n    COD_mg_L: 350,\n    NH4_mg_L: 25,\n    TP_mg_L: 8,\n    TSS_mg_L: 220\n  };\n}\n\nreturn {\n  json: {\n    mode: mode,\n    raw_input: raw_input,\n    overrides: overrides\n  }\n};"
      },
      "id": "determine-input-mode",
      "name": "Determine Input Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3920,
        -224
      ],
      "notesInFlow": true,
      "notes": "v9: Route based on input type (study/direct/legacy)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mode-study",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "study",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-study-mode",
      "name": "Is Study Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3712,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "// v9: Fetch study configuration from Supabase\nconst env = $('Env Parameters').first().json;\nconst inputData = $input.first().json;\n\nconst studyId = inputData.raw_input.study_id;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${env.supabase_url}/rest/v1/studies?study_id=eq.${encodeURIComponent(studyId)}&select=*`,\n  headers: {\n    'apikey': env.supabase_key,\n    'Authorization': `Bearer ${env.supabase_key}`\n  }\n});\n\nif (!response || response.length === 0) {\n  throw new Error(`Study not found: ${studyId}`);\n}\n\nconst study = response[0];\n\nreturn {\n  json: {\n    mode: 'study',\n    study_id: study.study_id,\n    study_name: study.name,\n    study_description: study.description,\n    category: study.category,\n    config: study.config,\n    overrides: inputData.overrides\n  }\n};"
      },
      "id": "fetch-study-config",
      "name": "Fetch Study Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        -336
      ],
      "notesInFlow": true,
      "notes": "v9: Get study configuration from Supabase"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mode-legacy",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "legacy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-legacy-mode",
      "name": "Is Legacy Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3488,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// v9: Transform v8 legacy format to v9 schema\nconst inputData = $input.first().json;\nconst legacy = inputData.raw_input;\n\nconst config = {\n  simulation: {\n    template: legacy.template || 'mle_mbr_asm2d',\n    model_type: legacy.model_type || 'ASM2d',\n    timeout_seconds: legacy.timeout_seconds || 300,\n    check_interval_seconds: legacy.check_interval_seconds || 60,\n    hard_cancel_buffer: legacy.hard_cancel_buffer || 120,\n    duration_days: legacy.duration_days || 1.0\n  },\n  influent: {\n    flow_m3_d: legacy.flow_m3_d || 4000,\n    simplified: {\n      COD_mg_L: legacy.COD_mg_L || 350,\n      NH4_mg_L: legacy.NH4_mg_L || 25,\n      TP_mg_L: legacy.TP_mg_L || 8,\n      TSS_mg_L: legacy.TSS_mg_L || 220,\n      temperature_C: legacy.temperature_C || 20\n    }\n  }\n};\n\n// Include convergence settings if provided\nif (legacy.run_to_convergence) {\n  config.convergence = {\n    run_to_convergence: true,\n    convergence_atol: legacy.convergence_atol || 0.1,\n    max_duration_days: legacy.max_duration_days || 60\n  };\n}\n\n// Include SRT control if provided\nif (legacy.target_srt_days) {\n  config.srt_control = {\n    target_srt_days: legacy.target_srt_days,\n    srt_tolerance: legacy.srt_tolerance || 0.1\n  };\n}\n\nreturn {\n  json: {\n    mode: 'legacy',\n    config: config,\n    overrides: inputData.overrides\n  }\n};"
      },
      "id": "transform-legacy",
      "name": "Transform Legacy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3264,
        -224
      ],
      "notesInFlow": true,
      "notes": "v9: Convert v8 format to v9 schema"
    },
    {
      "parameters": {
        "jsCode": "// v9: Pass through direct mode config\nconst inputData = $input.first().json;\n\n// Direct mode - use the input as config directly\nconst config = { ...inputData.raw_input };\ndelete config.overrides; // Remove overrides from config\n\nreturn {\n  json: {\n    mode: 'direct',\n    config: config,\n    overrides: inputData.overrides\n  }\n};"
      },
      "id": "pass-direct-mode",
      "name": "Pass Direct Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3264,
        0
      ],
      "notesInFlow": true,
      "notes": "v9: Direct mode pass-through"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "merge-input-modes",
      "name": "Merge Input Modes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -3040,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "// v9: Deep merge overrides into configuration\nconst inputData = $input.first().json;\n\nfunction deepMerge(target, source) {\n  const output = { ...target };\n  for (const key in source) {\n    if (source[key] && typeof source[key] === 'object' && !Array.isArray(source[key])) {\n      output[key] = deepMerge(target[key] || {}, source[key]);\n    } else if (source[key] !== undefined) {\n      output[key] = source[key];\n    }\n  }\n  return output;\n}\n\nconst config = inputData.config;\nconst finalConfig = deepMerge(config, inputData.overrides || {});\n\nreturn {\n  json: {\n    mode: inputData.mode,\n    study_id: inputData.study_id || null,\n    study_name: inputData.study_name || null,\n    study_description: inputData.study_description || null,\n    category: inputData.category || null,\n    config: finalConfig,\n    overrides_applied: Object.keys(inputData.overrides || {}).length > 0\n  }\n};"
      },
      "id": "apply-overrides",
      "name": "Apply Overrides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        -224
      ],
      "notesInFlow": true,
      "notes": "v9: Deep merge overrides into config"
    },
    {
      "parameters": {
        "jsCode": "// v9: Generate or validate session_id\nconst env = $('Env Parameters').first().json;\nconst configData = $input.first().json;\n\nlet session_id = env.session_id;\nlet analysis_type = env.analysis_type || 'WasteWater';\n\n// Auto-generate session_id if not provided\nif (!session_id || session_id.trim() === '') {\n  const now = new Date();\n  const year = now.getFullYear();\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const day = String(now.getDate()).padStart(2, '0');\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  \n  // Include study_id in session name if available, otherwise use Test_Session prefix\n  const prefix = configData.study_id ? configData.study_id : 'Test_Session';\n  session_id = `${prefix}-${year}-${month}-${day}_${hours}-${minutes}`;\n}\n\n// Sanitize session_id for safe path usage\nsession_id = session_id\n  .replace(/:/g, '-')           // Replace colons with hyphens (Windows compatibility)\n  .replace(/\\s+/g, '_')         // Replace spaces with underscores\n  .replace(/[<>\"|?*]/g, '')     // Remove invalid path characters\n  .substring(0, 60);            // Enforce 60 character max length\n\nreturn {\n  json: {\n    ...configData,\n    session_id: session_id,\n    analysis_type: analysis_type,\n    session_generated: !env.session_id || env.session_id.trim() === ''\n  }\n};"
      },
      "id": "generate-session-id",
      "name": "Generate Session ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        -224
      ],
      "notesInFlow": true,
      "notes": "v9: Auto-generate session_id with study name"
    },
    {
      "parameters": {
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "4160387a-446a-46eb-b485-3bae99f92a63",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2400,
        -224
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "Step 1: Verify server connection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "health-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8acf6aba-3bfa-4c2a-986c-09ebc6fd0c1e",
      "name": "Server Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2192,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a26fa46a-9080-43a5-b936-5e52607c6b90",
      "name": "Server Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// v9: Build simulation payload from merged configuration\nconst env = $('Env Parameters').first().json;\nconst configData = $('Generate Session ID').first().json;\nconst healthData = $input.first().json;\n\nconst version = healthData.version || 'unknown';\nconst environment = healthData.environment || 'unknown';\n\nconst config = configData.config;\nconst sim = config.simulation || {};\nconst influent = config.influent || {};\n\n// Determine temperature\nlet temperature_K;\nif (influent.temperature_K) {\n  temperature_K = influent.temperature_K;\n} else if (influent.simplified && influent.simplified.temperature_C) {\n  temperature_K = influent.simplified.temperature_C + 273.15;\n} else {\n  temperature_K = 293.15; // 20°C default\n}\n\n// Build concentrations\nlet concentrations;\nif (influent.concentrations) {\n  // Direct concentrations provided (e.g., mADM1)\n  concentrations = influent.concentrations;\n} else if (influent.simplified) {\n  // Calculate from simplified input (ASM2d style)\n  const s = influent.simplified;\n  const cod_dist = s.cod_distribution || { f_soluble: 0.5, f_fermentable: 0.5, f_acetate: 0.15 };\n  const tss_dist = s.tss_distribution || { f_inert: 0.25, f_biodegradable_factor: 0.5 };\n\n  const S_F = (s.COD_mg_L || 350) * cod_dist.f_soluble * cod_dist.f_fermentable;\n  const S_A = (s.COD_mg_L || 350) * cod_dist.f_soluble * cod_dist.f_acetate;\n  const X_S = (s.COD_mg_L || 350) * (1 - cod_dist.f_soluble);\n  const X_I = (s.TSS_mg_L || 220) * tss_dist.f_inert;\n  const X_S_total = X_S + ((s.TSS_mg_L || 220) * (1 - tss_dist.f_inert) * tss_dist.f_biodegradable_factor);\n\n  concentrations = {\n    S_O2: 0,\n    S_F: Math.round(S_F * 10) / 10,\n    S_A: Math.round(S_A * 10) / 10,\n    S_I: 10,\n    S_NH4: s.NH4_mg_L || 25,\n    S_N2: 0,\n    S_NO3: 0,\n    S_PO4: s.TP_mg_L || 8,\n    S_ALK: 300,\n    X_I: Math.round(X_I * 10) / 10,\n    X_S: Math.round(X_S_total * 10) / 10,\n    X_H: 30,\n    X_PAO: 0,\n    X_PP: 0,\n    X_PHA: 0,\n    X_AUT: 0,\n    X_MeOH: 0,\n    X_MeP: 0,\n    H2O: 1000\n  };\n}\n\n// Determine display name\nlet displayName = configData.study_name || sim.template || 'Simulation';\n\nreturn {\n  json: {\n    // v9 metadata\n    startup_message: `Processing: ${displayName}`,\n    server_version: version,\n    environment: environment,\n    mode: configData.mode,\n    study_id: configData.study_id,\n    study_name: configData.study_name,\n    study_description: configData.study_description,\n    category: configData.category,\n    overrides_applied: configData.overrides_applied,\n    \n    // Session info\n    session_id: configData.session_id,\n    analysis_type: configData.analysis_type,\n    \n    // Simulation parameters\n    template: sim.template || 'mle_mbr_asm2d',\n    model_type: sim.model_type || 'ASM2d',\n    flow_m3_d: influent.flow_m3_d || 4000,\n    temperature_K: temperature_K,\n    concentrations: concentrations,\n    \n    // Timing parameters\n    duration_days: sim.duration_days || 1.0,\n    timeout_seconds: sim.timeout_seconds || 300,\n    check_interval_seconds: sim.check_interval_seconds || 60,\n    hard_cancel_buffer: sim.hard_cancel_buffer || 120,\n    \n    // Optional advanced configs\n    kinetic_params: config.kinetic_params || {},\n    reactor_config: config.reactor_config || {},\n    convergence: config.convergence || {},\n    srt_control: config.srt_control || {},\n    \n    // For reporting - include original simplified values\n    input_simplified: influent.simplified || null,\n    input_config: config,\n    \n    // Timing\n    start_time: Date.now(),\n    iteration: 0\n  }\n};"
      },
      "id": "c01fafb2-b727-4c35-9058-938e2c5769e9",
      "name": "Prepare Simulation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        -256
      ],
      "notesInFlow": true,
      "notes": "v9: Build request from merged config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/simulate_system",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"{{ $json.template }}\",\n  \"influent\": {\n    \"model_type\": \"{{ $json.model_type }}\",\n    \"flow_m3_d\": {{ $json.flow_m3_d }},\n    \"temperature_K\": {{ $json.temperature_K }},\n    \"concentrations\": {{ JSON.stringify($json.concentrations) }}\n  },\n  \"duration_days\": {{ $json.duration_days }}{{ $json.kinetic_params && Object.keys($json.kinetic_params).length > 0 ? ',\\n  \"kinetic_params\": ' + JSON.stringify($json.kinetic_params) : '' }}{{ $json.reactor_config && Object.keys($json.reactor_config).length > 0 ? ',\\n  \"reactor_config\": ' + JSON.stringify($json.reactor_config) : '' }}{{ $json.convergence && $json.convergence.run_to_convergence ? ',\\n  \"run_to_convergence\": true,\\n  \"convergence_atol\": ' + ($json.convergence.convergence_atol || 0.1) + ',\\n  \"max_duration_days\": ' + ($json.convergence.max_duration_days || 60) : '' }}{{ $json.srt_control && $json.srt_control.target_srt_days ? ',\\n  \"target_srt_days\": ' + $json.srt_control.target_srt_days + ',\\n  \"srt_tolerance\": ' + ($json.srt_control.srt_tolerance || 0.1) : '' }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7835ed03-7a1b-4772-a7a3-1ddd4b1643f8",
      "name": "Submit Simulation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        -256
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "v9: Submit with optional advanced params"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "submit-ok",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53f3f12b-4aa9-4119-bea5-9943678090d8",
      "name": "Submit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1536,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Display submission error\nconst errorData = $input.first().json;\n\nreturn {\n  json: {\n    error: 'Simulation submission failed',\n    error_details: errorData.error || errorData.message || JSON.stringify(errorData),\n    suggestion: 'Check server logs or try again later'\n  }\n};"
      },
      "id": "2658c4af-b88f-4f87-b254-927db77a13d8",
      "name": "Submit Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -80
      ],
      "notesInFlow": true,
      "notes": "Display submission error"
    },
    {
      "parameters": {
        "jsCode": "// Merge job_id with existing data\nconst prevData = $('Prepare Simulation').first().json;\nconst submitResponse = $input.first().json;\n\nreturn {\n  json: {\n    ...prevData,\n    job_id: submitResponse.job_id,\n    job_status: submitResponse.status,\n    submit_message: submitResponse.message\n  }\n};"
      },
      "id": "50179ada-eac8-40cc-8b90-68fa04c6e915",
      "name": "Store Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -256
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.check_interval_seconds || 60 }}"
      },
      "id": "b62983b9-9fae-4470-91f5-4db0b16b0f57",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1104,
        -256
      ],
      "webhookId": "qsdsan-wait-v9"
    },
    {
      "parameters": {
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/get_job_status?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "df2a5dea-c4f7-492b-8fea-45d5d6e09b18",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -256
      ],
      "notesInFlow": true,
      "notes": "Step 5: Poll status"
    },
    {
      "parameters": {
        "jsCode": "// v9: Evaluate status and timeout conditions using config values\nconst prevData = $('Store Job ID').first().json;\nconst statusResponse = $input.first().json;\n\nconst timeout_seconds = prevData.timeout_seconds || 300;\nconst hard_cancel_buffer = prevData.hard_cancel_buffer || 120;\n\nconst elapsed_seconds = Math.round((Date.now() - prevData.start_time) / 1000);\nconst iteration = (prevData.iteration || 0) + 1;\nconst hard_cancel_threshold = timeout_seconds + hard_cancel_buffer;\n\n// Determine exit condition\nlet exit_condition = null;\nlet should_continue = true;\nlet should_terminate = false;\n\nif (statusResponse.status === 'completed' || statusResponse.status === 'failed') {\n  exit_condition = statusResponse.status;\n  should_continue = false;\n} else if (elapsed_seconds >= hard_cancel_threshold) {\n  exit_condition = 'hard_cancel';\n  should_continue = false;\n  should_terminate = true;\n} else if (elapsed_seconds >= timeout_seconds) {\n  exit_condition = 'timeout';\n  should_continue = false;\n}\n\nreturn {\n  json: {\n    ...prevData,\n    current_status: statusResponse.status,\n    elapsed_seconds: elapsed_seconds,\n    elapsed_from_api: statusResponse.elapsed_time_seconds,\n    iteration: iteration,\n    progress_message: `Simulation running... elapsed time: ${elapsed_seconds}s (timeout: ${timeout_seconds}s)`,\n    exit_condition: exit_condition,\n    should_continue: should_continue,\n    should_terminate: should_terminate\n  }\n};"
      },
      "id": "5f6bb790-e8d3-4742-a4c8-cc9cfc18d627",
      "name": "Evaluate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-continue",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0c9edef4-1179-4cc5-9e76-94334971851a",
      "name": "Continue Polling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -432,
        -256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-terminate",
              "leftValue": "={{ $json.should_terminate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5c7724e7-9122-4d28-86db-69e746367c0f",
      "name": "Need Terminate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/terminate_job?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "619d89fc-3ec6-4d7c-a47d-e8c29e214d15",
      "name": "Terminate Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -256
      ],
      "notesInFlow": true,
      "notes": "Hard cancel after timeout+buffer"
    },
    {
      "parameters": {
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/get_job_results?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "074d2de7-e5a8-46a4-a75a-425659d1b096",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -240
      ],
      "notesInFlow": true,
      "notes": "Step 6: Retrieve results"
    },
    {
      "parameters": {
        "jsCode": "// v9: Combine all data for report generation with study metadata\nconst evalData = $('Evaluate Status').first().json;\nconst resultsResponse = $input.first().json;\n\n// Extract results safely\nconst results = resultsResponse.results || {};\nconst performance = results.performance || {};\nconst effluent = results.effluent || {};\nconst reactor = results.reactor || {};\n\nconst cod = performance.cod || {};\nconst nitrogen = performance.nitrogen || {};\nconst phosphorus = performance.phosphorus || {};\nconst tss = performance.tss || {};\n\n// Determine overall assessment\nlet assessment = 'Incomplete';\nif (evalData.exit_condition === 'completed') {\n  const cod_removal = cod.removal_pct || 0;\n  const nh4_eff = effluent.NH4_mg_N_L || 999;\n  \n  if (cod_removal > 95 && nh4_eff < 1) {\n    assessment = 'Excellent';\n  } else if (cod_removal > 85 && nh4_eff < 5) {\n    assessment = 'Good';\n  } else if (cod_removal > 75) {\n    assessment = 'Needs Optimization';\n  } else {\n    assessment = 'Poor';\n  }\n}\n\nlet status_text = evalData.exit_condition;\nif (status_text === 'hard_cancel') status_text = 'Terminated (hard cancel)';\nif (status_text === 'timeout') status_text = 'Timed Out';\nif (status_text === 'completed') status_text = 'Completed';\nif (status_text === 'failed') status_text = 'Failed';\n\n// Get simplified influent values or reconstruct from config\nconst simplified = evalData.input_simplified || {};\n\nreturn {\n  json: {\n    report_date: new Date().toISOString(),\n    job_id: evalData.job_id,\n    session_id: evalData.session_id,\n    analysis_type: evalData.analysis_type,\n    template: evalData.template,\n    model_type: evalData.model_type,\n    status: status_text,\n    elapsed_seconds: evalData.elapsed_seconds,\n    timeout_setting: evalData.timeout_seconds,\n    server_version: evalData.server_version,\n    assessment: assessment,\n    \n    // v9 study metadata\n    mode: evalData.mode,\n    study_id: evalData.study_id,\n    study_name: evalData.study_name,\n    study_description: evalData.study_description,\n    category: evalData.category,\n    overrides_applied: evalData.overrides_applied,\n    \n    influent: {\n      flow_m3_d: evalData.flow_m3_d,\n      COD_mg_L: simplified.COD_mg_L || 'N/A',\n      TSS_mg_L: simplified.TSS_mg_L || 'N/A',\n      NH4_mg_L: simplified.NH4_mg_L || 'N/A',\n      TP_mg_L: simplified.TP_mg_L || 'N/A',\n      temperature_C: simplified.temperature_C || ((evalData.temperature_K || 293.15) - 273.15)\n    },\n    reactor: {\n      type: reactor.type || 'N/A',\n      V_total_m3: reactor.V_total_m3 || 'N/A',\n      HRT_hours: reactor.HRT_hours || 'N/A',\n      SRT_days: typeof reactor.SRT_days === 'number' ? reactor.SRT_days.toFixed(1) : 'N/A',\n      DO_aerobic: reactor.DO_aerobic_mg_L || 'N/A'\n    },\n    effluent: {\n      COD_mg_L: effluent.COD_mg_L ? effluent.COD_mg_L.toFixed(2) : 'N/A',\n      TSS_mg_L: effluent.TSS_mg_L ? effluent.TSS_mg_L.toFixed(2) : 'N/A',\n      NH4_mg_L: effluent.NH4_mg_N_L ? effluent.NH4_mg_N_L.toFixed(2) : 'N/A',\n      NO3_mg_L: effluent.NO3_mg_N_L ? effluent.NO3_mg_N_L.toFixed(2) : 'N/A',\n      PO4_mg_L: effluent.PO4_mg_P_L ? effluent.PO4_mg_P_L.toFixed(2) : 'N/A'\n    },\n    removal: {\n      COD_pct: cod.removal_pct ? cod.removal_pct.toFixed(1) : 'N/A',\n      TSS_pct: tss.removal_pct ? tss.removal_pct.toFixed(1) : 'N/A',\n      NH4_pct: nitrogen.removal?.NH4_removal_pct ? nitrogen.removal.NH4_removal_pct.toFixed(1) : 'N/A',\n      TN_pct: nitrogen.removal?.TN_removal_pct ? nitrogen.removal.TN_removal_pct.toFixed(1) : 'N/A',\n      TP_pct: phosphorus.removal?.TP_removal_pct ? phosphorus.removal.TP_removal_pct.toFixed(1) : 'N/A'\n    },\n    nitrification_pct: nitrogen.removal?.nitrification_efficiency_pct ? nitrogen.removal.nitrification_efficiency_pct.toFixed(1) : 'N/A',\n    denitrification_pct: nitrogen.removal?.denitrification_efficiency_pct ? nitrogen.removal.denitrification_efficiency_pct.toFixed(1) : 'N/A',\n    raw_results: resultsResponse\n  }\n};"
      },
      "id": "a3d749ff-0078-4cc6-8886-514c8bbed23b",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -240
      ],
      "notesInFlow": true,
      "notes": "v9: Include study metadata in results"
    },
    {
      "parameters": {
        "jsCode": "// v9: Prepare data for server-side AI analysis with study context\nconst env = $('Env Parameters').first().json;\nconst data = $input.first().json;\n\n// Remove raw_results to keep payload manageable\nconst { raw_results, ...cleanData } = data;\n\n// Build input parameters object for the analysis\nconst inputParameters = {\n  template: data.template,\n  model_type: data.model_type,\n  influent: data.influent,\n  reactor: data.reactor,\n  timeout_setting: data.timeout_setting,\n  // v9 additions\n  mode: data.mode,\n  study_id: data.study_id,\n  study_name: data.study_name,\n  study_description: data.study_description,\n  category: data.category\n};\n\n// Build analysis request with optional override_prompt\nconst analysisRequest = {\n  results: cleanData,\n  input_parameters: inputParameters,\n  model: env.ai_model || 'gpt-4o',\n  temperature: 0.7,\n  max_tokens: 4000\n};\n\n// Add override_prompt if provided\nif (env.override_prompt && env.override_prompt.trim()) {\n  analysisRequest.override_prompt = env.override_prompt.trim();\n}\n\nreturn {\n  json: {\n    ...data,\n    analysis_request: analysisRequest\n  }\n};"
      },
      "id": "chatgpt-prompt-builder",
      "name": "Prepare AI Analysis Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        908,
        -440
      ],
      "notesInFlow": true,
      "notes": "v9: Include study context in AI analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/analyze_results",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.analysis_request) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "chatgpt-api-call",
      "name": "Server AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -440
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "Step 7c: Call server's AI analysis endpoint"
    },
    {
      "parameters": {
        "jsCode": "// Extract AI analysis from server response and merge with original data\nconst prevData = $('Prepare AI Analysis Request').first().json;\nconst serverResponse = $input.first().json;\n\n// Extract the markdown analysis from server response\nlet ai_analysis = '';\nlet ai_analysis_error = null;\nlet ai_model = 'unknown';\n\nif (serverResponse.status === 'success' && serverResponse.analysis) {\n  ai_analysis = serverResponse.analysis;\n  ai_model = serverResponse.model_used || 'gpt-4o';\n} else if (serverResponse.detail) {\n  // Server returned an error\n  ai_analysis_error = serverResponse.detail;\n  ai_analysis = `## AI Analysis Unavailable\\n\\nThe AI analysis could not be completed:\\n\\n\\`${ai_analysis_error}\\`\\n\\nPlease review the simulation results manually.`;\n  ai_model = 'error';\n} else {\n  ai_analysis_error = 'Unexpected response format from server';\n  ai_analysis = `## AI Analysis Unavailable\\n\\nUnexpected response format received. Please review the simulation results manually.`;\n  ai_model = 'error';\n}\n\n// Remove the analysis request data, keep the clean results\nconst { analysis_request, ...cleanPrevData } = prevData;\n\nreturn {\n  json: {\n    ...cleanPrevData,\n    ai_analysis: ai_analysis,\n    ai_analysis_error: ai_analysis_error,\n    ai_model: ai_model,\n    ai_usage: serverResponse.usage || null\n  }\n};"
      },
      "id": "chatgpt-response-handler",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1332,
        -440
      ],
      "notesInFlow": true,
      "notes": "Step 7d: Extract AI analysis markdown"
    },
    {
      "parameters": {
        "jsCode": "// Handle AI Analysis API error - provide fallback\nconst prevData = $('Prepare AI Analysis Request').first().json;\nconst errorResponse = $input.first().json;\n\n// Remove the analysis request data\nconst { analysis_request, ...cleanPrevData } = prevData;\n\nconst errorMessage = errorResponse.detail || errorResponse.message || errorResponse.error?.message || JSON.stringify(errorResponse);\n\nreturn {\n  json: {\n    ...cleanPrevData,\n    ai_analysis: `## AI Analysis Unavailable\\n\\nThe AI analysis could not be completed due to an error:\\n\\n\\`${errorMessage}\\`\\n\\nThis may be because:\\n- The OPENAI_API_KEY is not configured on the server\\n- The server's AI analysis endpoint is unavailable\\n- Network connectivity issues\\n\\nPlease review the simulation results manually.`,\n    ai_analysis_error: errorMessage,\n    ai_model: 'error',\n    ai_usage: null\n  }\n};"
      },
      "id": "chatgpt-error-handler",
      "name": "Handle AI Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1332,
        -560
      ],
      "notesInFlow": true,
      "notes": "Fallback when server AI analysis fails"
    },
    {
      "parameters": {},
      "id": "chatgpt-merge",
      "name": "Merge AI Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1544,
        -500
      ]
    },
    {
      "parameters": {
        "jsCode": "// v9: Generate HTML report with study metadata and AI analysis\nconst data = $input.first().json;\n\n// Extract only what we need (exclude raw_results to reduce payload size)\nconst { raw_results, ...reportData } = data;\n\nconst incomplete_note = data.status !== 'Completed' \n  ? '<div class=\"warning\">Note: This simulation did not complete within the allocated time. Results shown are partial and may not represent steady-state conditions.</div>'\n  : '';\n\n// v9: Study mode banner\nlet study_banner = '';\nif (data.mode === 'study' && data.study_name) {\n  study_banner = `\n  <div class=\"study-banner\">\n    <h3>Study: ${data.study_name}</h3>\n    <p>${data.study_description || ''}</p>\n    <p><strong>Category:</strong> ${data.category || 'N/A'} | <strong>Study ID:</strong> ${data.study_id}</p>\n    ${data.overrides_applied ? '<p class=\"overrides-note\">Note: Custom overrides were applied to this study configuration.</p>' : ''}\n  </div>`;\n}\n\n// Convert markdown AI analysis to basic HTML\nlet ai_analysis_html = data.ai_analysis || 'AI analysis not available.';\n// Basic markdown to HTML conversion\nai_analysis_html = ai_analysis_html\n  .replace(/^### (.*$)/gm, '<h3>$1</h3>')\n  .replace(/^## (.*$)/gm, '<h2>$1</h2>')\n  .replace(/^# (.*$)/gm, '<h1>$1</h1>')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*([^*]+)\\*/g, '<em>$1</em>')\n  .replace(/`([^`]+)`/g, '<code>$1</code>')\n  .replace(/^- (.*$)/gm, '<li>$1</li>')\n  .replace(/^\\d+\\. (.*$)/gm, '<li>$1</li>')\n  .replace(/\\n\\n/g, '</p><p>')\n  .replace(/\\n/g, '<br>');\n\n// Wrap list items\nai_analysis_html = ai_analysis_html.replace(/(<li>.*<\\/li>)+/g, '<ul>$&</ul>');\n\n// Generate full HTML report\nconst htmlReport = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Wastewater Simulation Report - ${data.session_id}</title>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; line-height: 1.6; color: #333; }\n    h1 { color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px; }\n    h2 { color: #34495e; margin-top: 30px; border-bottom: 1px solid #bdc3c7; padding-bottom: 5px; }\n    h3 { color: #5d6d7e; margin-top: 20px; }\n    table { border-collapse: collapse; width: 100%; margin: 20px 0; }\n    th, td { border: 1px solid #ddd; padding: 12px; text-align: left; }\n    th { background-color: #3498db; color: white; }\n    tr:nth-child(even) { background-color: #f2f2f2; }\n    hr { border: none; border-top: 1px solid #bdc3c7; margin: 30px 0; }\n    .warning { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px 20px; margin: 20px 0; }\n    .header-info { background: #f8f9fa; padding: 15px; border-radius: 5px; margin-bottom: 20px; }\n    .header-info p { margin: 5px 0; }\n    .assessment { font-size: 1.2em; font-weight: bold; color: #27ae60; }\n    .section { margin-bottom: 30px; }\n    .ai-analysis { background: #f0f8ff; border-left: 4px solid #3498db; padding: 20px; margin: 20px 0; }\n    .ai-analysis h2 { color: #2980b9; border-bottom: none; }\n    .ai-analysis ul { margin-left: 20px; }\n    .ai-analysis li { margin-bottom: 8px; }\n    code { background: #f4f4f4; padding: 2px 6px; border-radius: 3px; font-family: monospace; }\n    .secure-notice { background: #d4edda; border-left: 4px solid #28a745; padding: 10px 15px; margin: 10px 0; font-size: 0.9em; color: #155724; }\n    .study-banner { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px; margin-bottom: 20px; }\n    .study-banner h3 { margin: 0 0 10px 0; color: white; border: none; }\n    .study-banner p { margin: 5px 0; opacity: 0.9; }\n    .overrides-note { background: rgba(255,255,255,0.2); padding: 8px 12px; border-radius: 4px; font-size: 0.9em; }\n    .mode-badge { display: inline-block; padding: 4px 12px; border-radius: 12px; font-size: 0.8em; font-weight: bold; text-transform: uppercase; }\n    .mode-study { background: #667eea; color: white; }\n    .mode-direct { background: #28a745; color: white; }\n    .mode-legacy { background: #ffc107; color: #333; }\n  </style>\n</head>\n<body>\n  <h1>Wastewater Treatment Simulation Report</h1>\n  \n  ${study_banner}\n  \n  <div class=\"header-info\">\n    <p><strong>Generated:</strong> ${new Date(data.report_date).toLocaleString()}</p>\n    <p><strong>Session ID:</strong> ${data.session_id}</p>\n    <p><strong>Job ID:</strong> ${data.job_id}</p>\n    <p><strong>Template:</strong> ${data.template} <span class=\"mode-badge mode-${data.mode}\">${data.mode} mode</span></p>\n    <p><strong>Model Type:</strong> ${data.model_type || 'ASM2d'}</p>\n    <p><strong>Status:</strong> ${data.status}</p>\n    <p><strong>Elapsed Time:</strong> ${data.elapsed_seconds} seconds</p>\n    <p><strong>AI Model:</strong> ${data.ai_model || 'N/A'}</p>\n  </div>\n\n  ${incomplete_note}\n\n  <div class=\"section\">\n    <h2>Executive Summary</h2>\n    <p>Simulation ${data.status.toLowerCase()} using the <strong>${data.template}</strong> template${data.study_name ? ` (Study: ${data.study_name})` : ''}.</p>\n    <p class=\"assessment\">Overall Assessment: ${data.assessment}</p>\n  </div>\n\n  <div class=\"section\">\n    <h2>Influent Characteristics</h2>\n    <table>\n      <tr><th>Parameter</th><th>Value</th><th>Unit</th><th>Typical Range</th></tr>\n      <tr><td>Flow</td><td>${data.influent.flow_m3_d}</td><td>m3/d</td><td>-</td></tr>\n      <tr><td>COD</td><td>${data.influent.COD_mg_L}</td><td>mg/L</td><td>300-600</td></tr>\n      <tr><td>TSS</td><td>${data.influent.TSS_mg_L}</td><td>mg/L</td><td>200-400</td></tr>\n      <tr><td>NH4-N</td><td>${data.influent.NH4_mg_L}</td><td>mg/L</td><td>25-50</td></tr>\n      <tr><td>Total P</td><td>${data.influent.TP_mg_L}</td><td>mg/L</td><td>6-12</td></tr>\n      <tr><td>Temperature</td><td>${typeof data.influent.temperature_C === 'number' ? data.influent.temperature_C.toFixed(1) : data.influent.temperature_C}</td><td>C</td><td>15-25</td></tr>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>Treatment System Configuration</h2>\n    <table>\n      <tr><th>Parameter</th><th>Value</th></tr>\n      <tr><td>Template</td><td>${data.template}</td></tr>\n      <tr><td>Reactor Type</td><td>${data.reactor.type}</td></tr>\n      <tr><td>Total Volume</td><td>${data.reactor.V_total_m3} m3</td></tr>\n      <tr><td>HRT</td><td>${data.reactor.HRT_hours} hours</td></tr>\n      <tr><td>SRT</td><td>${data.reactor.SRT_days} days</td></tr>\n      <tr><td>Aerobic DO</td><td>${data.reactor.DO_aerobic} mg/L</td></tr>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>Effluent Quality</h2>\n    <table>\n      <tr><th>Parameter</th><th>Influent</th><th>Effluent</th><th>Removal %</th></tr>\n      <tr><td>COD</td><td>${data.influent.COD_mg_L} mg/L</td><td>${data.effluent.COD_mg_L} mg/L</td><td>${data.removal.COD_pct}%</td></tr>\n      <tr><td>TSS</td><td>${data.influent.TSS_mg_L} mg/L</td><td>${data.effluent.TSS_mg_L} mg/L</td><td>${data.removal.TSS_pct}%</td></tr>\n      <tr><td>NH4-N</td><td>${data.influent.NH4_mg_L} mg/L</td><td>${data.effluent.NH4_mg_L} mg/L</td><td>${data.removal.NH4_pct}%</td></tr>\n      <tr><td>TN</td><td>-</td><td>-</td><td>${data.removal.TN_pct}%</td></tr>\n      <tr><td>TP</td><td>${data.influent.TP_mg_L} mg/L</td><td>${data.effluent.PO4_mg_L} mg/L</td><td>${data.removal.TP_pct}%</td></tr>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>Process Performance Analysis</h2>\n    <h3>Nitrification</h3>\n    <p>Nitrification efficiency: <strong>${data.nitrification_pct}%</strong></p>\n    <h3>Denitrification</h3>\n    <p>Denitrification efficiency: <strong>${data.denitrification_pct}%</strong></p>\n  </div>\n\n  <hr>\n\n  <div class=\"ai-analysis\">\n    <h2>AI Expert Analysis</h2>\n    <div class=\"secure-notice\">AI analysis performed via secure server-side API (v9.0)</div>\n    <p>${ai_analysis_html}</p>\n  </div>\n\n  <hr>\n\n  <div class=\"section\">\n    <h2>Technical Notes</h2>\n    <ul>\n      <li>Session ID: ${data.session_id}</li>\n      <li>Input Mode: ${data.mode}</li>\n      ${data.study_id ? `<li>Study ID: ${data.study_id}</li>` : ''}\n      <li>Timeout Setting: ${data.timeout_setting} seconds</li>\n      <li>Actual Runtime: ${data.elapsed_seconds} seconds</li>\n      <li>Server Version: ${data.server_version}</li>\n      <li>AI Analysis Model: ${data.ai_model || 'N/A'}</li>\n    </ul>\n  </div>\n\n  <hr>\n  <p><em>Report generated by QSDsan Wastewater Simulation Engine v9.0 with Dynamic Configuration</em></p>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...reportData,\n    report_html: htmlReport,\n    report_filename: `${data.session_id}-${data.template}.pdf`\n  }\n};"
      },
      "id": "ebbc5cbe-eb9b-4ef3-8d6d-dbaba5bb8355",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1756,
        -500
      ],
      "notesInFlow": true,
      "notes": "v9: HTML report with study banner"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "report_html",
        "options": {
          "fileName": "index.html"
        }
      },
      "id": "0134ee84-4baa-4ddf-a62b-99414e7e4560",
      "name": "Create HTML File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1968,
        -612
      ],
      "notesInFlow": true,
      "notes": "Convert HTML string to file"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Env Parameters').item.json.gotenberg_url }}/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "4dd0c572-eba8-4a23-9c08-259ed2563ea2",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        -612
      ],
      "notesInFlow": true,
      "notes": "Gotenberg HTML to PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Env Parameters').item.json.supabase_url }}/storage/v1/object/{{ $('Env Parameters').item.json.supabase_bucket }}/{{ $('Generate Report').item.json.session_id }}/{{ $('Generate Report').item.json.analysis_type }}/{{ $('Generate Report').item.json.session_id }}-{{ $('Generate Report').item.json.template }}.pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Env Parameters').item.json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/pdf"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data"
      },
      "id": "f3fa0ba1-6460-4307-91d5-ee4e30c084b9",
      "name": "Upload PDF to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        -612
      ],
      "notesInFlow": true,
      "notes": "Upload PDF to Supabase Storage",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process PDF upload result\nconst env = $('Env Parameters').first().json;\nconst reportData = $('Generate Report').item.json;\nconst response = $input.first().json;\n\nconst fileName = `${reportData.session_id}/${reportData.analysis_type}/${reportData.session_id}-${reportData.template}.pdf`;\nconst publicUrl = `${env.supabase_url}/storage/v1/object/public/${env.supabase_bucket}/${fileName}`;\n\nreturn {\n  json: {\n    success: true,\n    file_type: 'pdf',\n    path: fileName,\n    public_url: publicUrl,\n    job_id: reportData.job_id,\n    session_id: reportData.session_id,\n    upload_result: response\n  }\n};"
      },
      "id": "pdf-upload-success-handler",
      "name": "Process PDF Upload Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        -612
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle PDF upload error\nconst reportData = $('Generate Report').item.json;\nconst fileName = `${reportData.session_id}/${reportData.analysis_type}/${reportData.session_id}-${reportData.template}.pdf`;\nconst errorData = $input.first().json;\n\nreturn {\n  json: {\n    success: false,\n    error: errorData.message || JSON.stringify(errorData),\n    file_type: 'pdf',\n    path: fileName,\n    job_id: reportData.job_id,\n    session_id: reportData.session_id\n  }\n};"
      },
      "id": "pdf-upload-error-handler",
      "name": "Process PDF Upload Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        -740
      ]
    },
    {
      "parameters": {},
      "id": "pdf-upload-merge",
      "name": "Merge PDF Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2640,
        -676
      ]
    },
    {
      "parameters": {
        "jsCode": "// v9: Generate CSV data with study metadata\nconst data = $input.first().json;\n\n// Build CSV content\nconst csvRows = [\n  ['Parameter', 'Value'],\n  ['Session ID', data.session_id],\n  ['Job ID', data.job_id],\n  ['Report Date', data.report_date],\n  ['Template', data.template],\n  ['Model Type', data.model_type || 'ASM2d'],\n  ['Status', data.status],\n  ['Elapsed Seconds', data.elapsed_seconds],\n  ['Assessment', data.assessment],\n  ['AI Model', data.ai_model || 'N/A'],\n  ['', ''],\n  ['INPUT MODE', ''],\n  ['Mode', data.mode],\n  ['Study ID', data.study_id || 'N/A'],\n  ['Study Name', data.study_name || 'N/A'],\n  ['Category', data.category || 'N/A'],\n  ['Overrides Applied', data.overrides_applied ? 'Yes' : 'No'],\n  ['', ''],\n  ['INFLUENT', ''],\n  ['Flow (m3/d)', data.influent.flow_m3_d],\n  ['COD (mg/L)', data.influent.COD_mg_L],\n  ['TSS (mg/L)', data.influent.TSS_mg_L],\n  ['NH4-N (mg/L)', data.influent.NH4_mg_L],\n  ['TP (mg/L)', data.influent.TP_mg_L],\n  ['Temperature (C)', data.influent.temperature_C],\n  ['', ''],\n  ['EFFLUENT', ''],\n  ['COD (mg/L)', data.effluent.COD_mg_L],\n  ['TSS (mg/L)', data.effluent.TSS_mg_L],\n  ['NH4-N (mg/L)', data.effluent.NH4_mg_L],\n  ['NO3-N (mg/L)', data.effluent.NO3_mg_L],\n  ['PO4-P (mg/L)', data.effluent.PO4_mg_L],\n  ['', ''],\n  ['REMOVAL (%)', ''],\n  ['COD', data.removal.COD_pct],\n  ['TSS', data.removal.TSS_pct],\n  ['NH4', data.removal.NH4_pct],\n  ['TN', data.removal.TN_pct],\n  ['TP', data.removal.TP_pct],\n  ['', ''],\n  ['PERFORMANCE', ''],\n  ['Nitrification (%)', data.nitrification_pct],\n  ['Denitrification (%)', data.denitrification_pct],\n  ['', ''],\n  ['REACTOR', ''],\n  ['Type', data.reactor.type],\n  ['Volume (m3)', data.reactor.V_total_m3],\n  ['HRT (hours)', data.reactor.HRT_hours],\n  ['SRT (days)', data.reactor.SRT_days],\n  ['DO Aerobic (mg/L)', data.reactor.DO_aerobic]\n];\n\nconst csvContent = csvRows.map(row => row.join(',')).join('\\n');\n\nreturn {\n  json: {\n    job_id: data.job_id,\n    session_id: data.session_id,\n    analysis_type: data.analysis_type,\n    template: data.template,\n    csv_content: csvContent\n  }\n};"
      },
      "id": "d35394fa-0c3c-4ec8-aa43-210a5282eec0",
      "name": "Generate CSV Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -420
      ],
      "notesInFlow": true,
      "notes": "v9: CSV with study metadata"
    },
    {
      "parameters": {
        "jsCode": "// Upload CSV to Supabase Storage\nconst env = $('Env Parameters').first().json;\nconst data = $input.first().json;\n\nconst sessionId = data.session_id;\nconst analysisType = data.analysis_type;\nconst template = data.template;\nconst csvContent = data.csv_content;\nconst fileName = `${sessionId}/${analysisType}/${sessionId}-${template}.csv`;\n\ntry {\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${env.supabase_url}/storage/v1/object/${env.supabase_bucket}/${fileName}`,\n    headers: {\n      'Authorization': `Bearer ${env.supabase_key}`,\n      'Content-Type': 'text/csv; charset=utf-8',\n      'x-upsert': 'true'\n    },\n    body: csvContent,\n    json: false,\n    returnFullResponse: true\n  });\n\n  const publicUrl = `${env.supabase_url}/storage/v1/object/public/${env.supabase_bucket}/${fileName}`;\n\n  return {\n    json: {\n      success: true,\n      status: result.statusCode || 200,\n      file_type: 'csv',\n      path: fileName,\n      public_url: publicUrl,\n      job_id: data.job_id,\n      session_id: sessionId,\n      upload_result: result.body\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      file_type: 'csv',\n      path: fileName,\n      job_id: data.job_id,\n      session_id: sessionId\n    }\n  };\n}"
      },
      "id": "c23a95df-e237-4679-b3cc-97f606d67c59",
      "name": "Upload CSV to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        -420
      ],
      "notesInFlow": true,
      "notes": "Upload CSV to Supabase Storage"
    },
    {
      "parameters": {
        "jsCode": "// v9: Upload JSON results with study metadata\nconst env = $('Env Parameters').first().json;\nconst data = $input.first().json;\n\nconst sessionId = data.session_id;\nconst analysisType = data.analysis_type;\nconst template = data.template;\nconst fileName = `${sessionId}/${analysisType}/${sessionId}-${template}.json`;\n\n// Convert JSON to string (includes AI analysis and v9 metadata)\nconst jsonContent = JSON.stringify(data, null, 2);\n\ntry {\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${env.supabase_url}/storage/v1/object/${env.supabase_bucket}/${fileName}`,\n    headers: {\n      'Authorization': `Bearer ${env.supabase_key}`,\n      'Content-Type': 'application/json',\n      'x-upsert': 'true'\n    },\n    body: jsonContent,\n    returnFullResponse: true\n  });\n\n  const publicUrl = `${env.supabase_url}/storage/v1/object/public/${env.supabase_bucket}/${fileName}`;\n\n  return {\n    json: {\n      success: true,\n      status: result.statusCode || 200,\n      file_type: 'json',\n      path: fileName,\n      public_url: publicUrl,\n      job_id: data.job_id,\n      session_id: sessionId,\n      upload_result: result.body\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      file_type: 'json',\n      path: fileName,\n      job_id: data.job_id,\n      session_id: sessionId\n    }\n  };\n}"
      },
      "id": "c1421b5d-8b40-490d-9070-8efa159c9e5f",
      "name": "Upload JSON to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -260
      ],
      "notesInFlow": true,
      "notes": "Upload JSON to Supabase Storage"
    },
    {
      "parameters": {
        "jsCode": "// v9: Upload AI Analysis markdown with study context\nconst env = $('Env Parameters').first().json;\nconst data = $input.first().json;\n\nconst sessionId = data.session_id;\nconst analysisType = data.analysis_type;\nconst fileName = `${sessionId}/${analysisType}/${sessionId}-AI_Analysis.md`;\n\n// Create markdown content with header and v9 metadata\nconst markdownContent = `# AI Expert Analysis - Wastewater Simulation\n\n**Session ID:** ${sessionId}\n**Report Date:** ${data.report_date}\n**Template:** ${data.template}\n**Model Type:** ${data.model_type || 'ASM2d'}\n**Status:** ${data.status}\n**AI Model:** ${data.ai_model || 'N/A'}\n**Security:** Server-side API (v9.0 - API key not exposed)\n\n---\n\n## Input Configuration (v9)\n\n| Parameter | Value |\n|-----------|-------|\n| Mode | ${data.mode} |\n| Study ID | ${data.study_id || 'N/A'} |\n| Study Name | ${data.study_name || 'N/A'} |\n| Category | ${data.category || 'N/A'} |\n| Overrides Applied | ${data.overrides_applied ? 'Yes' : 'No'} |\n\n---\n\n## Simulation Results (JSON)\n\n\\`\\`\\`json\n${JSON.stringify({\n  influent: data.influent,\n  effluent: data.effluent,\n  removal: data.removal,\n  reactor: data.reactor,\n  nitrification_pct: data.nitrification_pct,\n  denitrification_pct: data.denitrification_pct,\n  assessment: data.assessment\n}, null, 2)}\n\\`\\`\\`\n\n---\n\n${data.ai_analysis || 'AI analysis not available.'}\n\n---\n\n*Generated by QSDsan Wastewater Simulation Engine v9.0 with Dynamic Configuration*\n`;\n\ntry {\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${env.supabase_url}/storage/v1/object/${env.supabase_bucket}/${fileName}`,\n    headers: {\n      'Authorization': `Bearer ${env.supabase_key}`,\n      'Content-Type': 'text/markdown; charset=utf-8',\n      'x-upsert': 'true'\n    },\n    body: markdownContent,\n    json: false,\n    returnFullResponse: true\n  });\n\n  const publicUrl = `${env.supabase_url}/storage/v1/object/public/${env.supabase_bucket}/${fileName}`;\n\n  return {\n    json: {\n      success: true,\n      status: result.statusCode || 200,\n      file_type: 'markdown',\n      path: fileName,\n      public_url: publicUrl,\n      job_id: data.job_id,\n      session_id: sessionId,\n      upload_result: result.body\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      file_type: 'markdown',\n      path: fileName,\n      job_id: data.job_id,\n      session_id: sessionId\n    }\n  };\n}"
      },
      "id": "upload-ai-analysis",
      "name": "Upload AI Analysis to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -100
      ],
      "notesInFlow": true,
      "notes": "v9: AI analysis with study context"
    },
    {
      "parameters": {},
      "id": "b66434e5-1dc2-4339-b7ce-88fb59e49dea",
      "name": "End (Success)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3088,
        -516
      ]
    },
    {
      "parameters": {},
      "id": "958969b2-fe67-4194-a3c7-f272da76bade",
      "name": "End (Error)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1744,
        0
      ]
    },
    {
      "parameters": {},
      "id": "79eabf7f-698f-473f-b10d-bc89be14a97d",
      "name": "End (Submit Error)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1104,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop back with updated data for next iteration\nconst evalData = $input.first().json;\n\nreturn {\n  json: {\n    ...evalData\n  }\n};"
      },
      "id": "21567e90-877f-4499-a35e-45b6843fa90f",
      "name": "Loop Back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through data after termination\nconst evalData = $('Evaluate Status').first().json;\n\nreturn {\n  json: {\n    ...evalData,\n    termination_response: $input.first().json\n  }\n};"
      },
      "id": "f9252766-4049-4a4f-bcaf-d134184bb65b",
      "name": "After Terminate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through data when no termination needed\nconst evalData = $input.first().json;\n\nreturn {\n  json: evalData\n};"
      },
      "id": "07a5b957-2aab-46be-b3b0-03916dd1be6c",
      "name": "Skip Terminate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -64
      ]
    },
    {
      "parameters": {},
      "id": "c814535d-f7dc-4881-bc4a-bb7020dacdef",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        416,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16aacbaf-41e8-4e87-a86b-6d395ab028fa",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        -420
      ],
      "id": "a9e90991-9cb2-447a-85b4-407584f78e7f",
      "name": "CSV_Succeeded"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09510550-59d7-41dc-88ba-7a699a182ff7",
              "name": "path",
              "value": "={{ $('Upload CSV to Supabase').item.json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ed252424-9271-499c-97fb-0f926b8bc3a6",
      "name": "CSV_Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        -420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16aacbaf-41e8-4e87-a86b-6d395ab028fa",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        -260
      ],
      "id": "4c445c35-ae08-4d5e-8cf1-52269cc9521a",
      "name": "JSON_Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09510550-59d7-41dc-88ba-7a699a182ff7",
              "name": "path",
              "value": "={{ $('Upload JSON to Supabase').item.json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2076a968-c096-47c1-90e8-d8bbf2aa27b7",
      "name": "JSON_Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        -260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09510550-59d7-41dc-88ba-7a699a182ff7",
              "name": "path",
              "value": "={{ $('Upload PDF to Supabase').item.json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a9818951-7ee1-46f5-a370-c9b0747a906e",
      "name": "PDF_Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        -692
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16aacbaf-41e8-4e87-a86b-6d395ab028fa",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        -612
      ],
      "id": "2b88f042-6d6e-4de2-a53b-802190811f45",
      "name": "PDF_Succeeded"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ai-analysis-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        -100
      ],
      "id": "ai-analysis-succeeded",
      "name": "AI_Analysis_Succeeded"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai-analysis-error-path",
              "name": "path",
              "value": "={{ $('Upload AI Analysis to Supabase').item.json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-analysis-error",
      "name": "AI_Analysis_Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        -100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Env Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Env Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Env Parameters": {
      "main": [
        [
          {
            "node": "Determine Input Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Input Mode": {
      "main": [
        [
          {
            "node": "Is Study Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Study Mode?": {
      "main": [
        [
          {
            "node": "Fetch Study Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Legacy Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Study Config": {
      "main": [
        [
          {
            "node": "Merge Input Modes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Legacy Mode?": {
      "main": [
        [
          {
            "node": "Transform Legacy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Direct Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Legacy": {
      "main": [
        [
          {
            "node": "Merge Input Modes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pass Direct Mode": {
      "main": [
        [
          {
            "node": "Merge Input Modes",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Input Modes": {
      "main": [
        [
          {
            "node": "Apply Overrides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Overrides": {
      "main": [
        [
          {
            "node": "Generate Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Session ID": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Server Healthy?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server Healthy?": {
      "main": [
        [
          {
            "node": "Prepare Simulation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server Error": {
      "main": [
        [
          {
            "node": "End (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Simulation": {
      "main": [
        [
          {
            "node": "Submit Simulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Simulation": {
      "main": [
        [
          {
            "node": "Submit OK?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit OK?": {
      "main": [
        [
          {
            "node": "Store Job ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Error": {
      "main": [
        [
          {
            "node": "End (Submit Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Job ID": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Evaluate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Status": {
      "main": [
        [
          {
            "node": "Continue Polling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Polling?": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Need Terminate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Terminate?": {
      "main": [
        [
          {
            "node": "Terminate Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Terminate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terminate Job": {
      "main": [
        [
          {
            "node": "After Terminate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After Terminate": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Terminate": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Prepare AI Analysis Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Analysis Request": {
      "main": [
        [
          {
            "node": "Server AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server AI Analysis": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle AI Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Merge AI Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle AI Error": {
      "main": [
        [
          {
            "node": "Merge AI Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge AI Results": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Create HTML File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate CSV Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload JSON to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload AI Analysis to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML File": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Upload PDF to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Supabase": {
      "main": [
        [
          {
            "node": "Process PDF Upload Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process PDF Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF Upload Success": {
      "main": [
        [
          {
            "node": "Merge PDF Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF Upload Error": {
      "main": [
        [
          {
            "node": "Merge PDF Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF Results": {
      "main": [
        [
          {
            "node": "PDF_Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CSV Data": {
      "main": [
        [
          {
            "node": "Upload CSV to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV to Supabase": {
      "main": [
        [
          {
            "node": "CSV_Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON to Supabase": {
      "main": [
        [
          {
            "node": "JSON_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload AI Analysis to Supabase": {
      "main": [
        [
          {
            "node": "AI_Analysis_Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV_Succeeded": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CSV_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV_Error": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON_Success": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON_Error": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF_Succeeded": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF_Error": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Analysis_Succeeded": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Analysis_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Analysis_Error": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v9-dynamic-configuration",
  "meta": {
    "instanceId": "1a31eed7b82cb7f448f2abc5a538a777a1f9a344ccc5df5f3741cf94e7885baa"
  },
  "id": "QSDsanSimulationV9",
  "tags": [
    {
      "name": "qsdsan"
    },
    {
      "name": "wastewater"
    },
    {
      "name": "supabase"
    },
    {
      "name": "simulation"
    },
    {
      "name": "ai-analysis"
    },
    {
      "name": "secure"
    },
    {
      "name": "dynamic-config"
    },
    {
      "name": "study-mode"
    }
  ]
}
