n8n/n8n-qsd-test/qsdsan-simulation-v5.json
{
  "name": "QSDsan Simulation v5.0",
  "nodes": [
    {
      "parameters": {},
      "id": "61442d83-0886-47a2-ae7d-fa2a50d6e87f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3936,
        -224
      ]
    },
    {
      "parameters": {
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "4160387a-446a-46eb-b485-3bae99f92a63",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3328,
        -224
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "Step 1: Verify server connection"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "health-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8acf6aba-3bfa-4c2a-986c-09ebc6fd0c1e",
      "name": "Server Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3120,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a26fa46a-9080-43a5-b936-5e52607c6b90",
      "name": "Server Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build simulation payload from Env and WW Parameters\nconst env = $('Env Parameters').first().json;\nconst ww = $('WW Parameters').first().json;\nconst healthData = $input.first().json;\n\nconst version = healthData.version || 'unknown';\nconst environment = healthData.environment || 'unknown';\n\n// Calculate temperature in Kelvin\nconst temperature_K = ww.temperature_C + 273.15;\n\n// Distribute COD among components (50% S_F, 15% S_A, 35% X_S)\nconst S_F = ww.COD_mg_L * 0.5 * 0.5;\nconst S_A = ww.COD_mg_L * 0.5 * 0.15;\nconst X_S = ww.COD_mg_L * 0.35;\n\n// Distribute TSS (25% X_I, 75% added to X_S)\nconst X_I = ww.TSS_mg_L * 0.25;\nconst X_S_total = X_S + (ww.TSS_mg_L * 0.75 * 0.5);\n\nreturn {\n  json: {\n    startup_message: `Processing with procedure: qsdsan-engine v${version}`,\n    server_version: version,\n    environment: environment,\n    template: ww.template,\n    flow_m3_d: ww.flow_m3_d,\n    temperature_K: temperature_K,\n    concentrations: {\n      S_O2: 0,\n      S_F: Math.round(S_F * 10) / 10,\n      S_A: Math.round(S_A * 10) / 10,\n      S_I: 10,\n      S_NH4: ww.NH4_mg_L,\n      S_N2: 0,\n      S_NO3: 0,\n      S_PO4: ww.TP_mg_L,\n      S_ALK: 300,\n      X_I: Math.round(X_I * 10) / 10,\n      X_S: Math.round(X_S_total * 10) / 10,\n      X_H: 30,\n      X_PAO: 0,\n      X_PP: 0,\n      X_PHA: 0,\n      X_AUT: 0,\n      X_MeOH: 0,\n      X_MeP: 0,\n      H2O: 1000\n    },\n    input_COD: ww.COD_mg_L,\n    input_NH4: ww.NH4_mg_L,\n    input_TP: ww.TP_mg_L,\n    input_TSS: ww.TSS_mg_L,\n    input_temp_C: ww.temperature_C,\n    start_time: Date.now(),\n    iteration: 0\n  }\n};"
      },
      "id": "c01fafb2-b727-4c35-9058-938e2c5769e9",
      "name": "Prepare Simulation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        -256
      ],
      "notesInFlow": true,
      "notes": "Step 2-3: Build request payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/simulate_system",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"{{ $json.template }}\",\n  \"influent\": {\n    \"model_type\": \"ASM2d\",\n    \"flow_m3_d\": {{ $json.flow_m3_d }},\n    \"temperature_K\": {{ $json.temperature_K }},\n    \"concentrations\": {{ JSON.stringify($json.concentrations) }}\n  },\n  \"duration_days\": 1.0\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7835ed03-7a1b-4772-a7a3-1ddd4b1643f8",
      "name": "Submit Simulation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2688,
        -256
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "Step 4: Start simulation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "submit-ok",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53f3f12b-4aa9-4119-bea5-9943678090d8",
      "name": "Submit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2464,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Display submission error\nconst errorData = $input.first().json;\n\nreturn {\n  json: {\n    error: 'Simulation submission failed',\n    error_details: errorData.error || errorData.message || JSON.stringify(errorData),\n    suggestion: 'Check server logs or try again later'\n  }\n};"
      },
      "id": "2658c4af-b88f-4f87-b254-927db77a13d8",
      "name": "Submit Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        -80
      ],
      "notesInFlow": true,
      "notes": "Display submission error"
    },
    {
      "parameters": {
        "jsCode": "// Merge job_id with existing data\nconst prevData = $('Prepare Simulation').first().json;\nconst submitResponse = $input.first().json;\n\nreturn {\n  json: {\n    ...prevData,\n    job_id: submitResponse.job_id,\n    job_status: submitResponse.status,\n    submit_message: submitResponse.message\n  }\n};"
      },
      "id": "50179ada-eac8-40cc-8b90-68fa04c6e915",
      "name": "Store Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        -256
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('WW Parameters').item.json.check_interval_seconds }}"
      },
      "id": "b62983b9-9fae-4470-91f5-4db0b16b0f57",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2032,
        -256
      ],
      "webhookId": "qsdsan-wait"
    },
    {
      "parameters": {
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/get_job_status?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "df2a5dea-c4f7-492b-8fea-45d5d6e09b18",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1808,
        -256
      ],
      "notesInFlow": true,
      "notes": "Step 5: Poll status"
    },
    {
      "parameters": {
        "jsCode": "// Evaluate status and timeout conditions\nconst ww = $('WW Parameters').first().json;\nconst prevData = $('Store Job ID').first().json;\nconst statusResponse = $input.first().json;\n\nconst elapsed_seconds = Math.round((Date.now() - prevData.start_time) / 1000);\nconst iteration = (prevData.iteration || 0) + 1;\nconst hard_cancel_threshold = ww.timeout_seconds + ww.hard_cancel_buffer;\n\n// Determine exit condition\nlet exit_condition = null;\nlet should_continue = true;\nlet should_terminate = false;\n\nif (statusResponse.status === 'completed' || statusResponse.status === 'failed') {\n  exit_condition = statusResponse.status;\n  should_continue = false;\n} else if (elapsed_seconds >= hard_cancel_threshold) {\n  exit_condition = 'hard_cancel';\n  should_continue = false;\n  should_terminate = true;\n} else if (elapsed_seconds >= ww.timeout_seconds) {\n  exit_condition = 'timeout';\n  should_continue = false;\n}\n\nreturn {\n  json: {\n    ...prevData,\n    current_status: statusResponse.status,\n    elapsed_seconds: elapsed_seconds,\n    elapsed_from_api: statusResponse.elapsed_time_seconds,\n    iteration: iteration,\n    progress_message: `Simulation running... elapsed time: ${elapsed_seconds}s (timeout: ${ww.timeout_seconds}s)`,\n    exit_condition: exit_condition,\n    should_continue: should_continue,\n    should_terminate: should_terminate\n  }\n};"
      },
      "id": "5f6bb790-e8d3-4742-a4c8-cc9cfc18d627",
      "name": "Evaluate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-continue",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0c9edef4-1179-4cc5-9e76-94334971851a",
      "name": "Continue Polling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1360,
        -256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-terminate",
              "leftValue": "={{ $json.should_terminate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5c7724e7-9122-4d28-86db-69e746367c0f",
      "name": "Need Terminate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1088,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/terminate_job?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "619d89fc-3ec6-4d7c-a47d-e8c29e214d15",
      "name": "Terminate Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        -256
      ],
      "notesInFlow": true,
      "notes": "Hard cancel after timeout+120s"
    },
    {
      "parameters": {
        "url": "=http://{{ $('Env Parameters').item.json.server_ip }}:{{ $('Env Parameters').item.json.server_port }}/api/get_job_results?job_id={{ $json.job_id }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "074d2de7-e5a8-46a4-a75a-425659d1b096",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        -240
      ],
      "notesInFlow": true,
      "notes": "Step 6: Retrieve results"
    },
    {
      "parameters": {
        "jsCode": "// Combine all data for report generation\nconst ww = $('WW Parameters').first().json;\nconst evalData = $('Evaluate Status').first().json;\nconst resultsResponse = $input.first().json;\n\n// Extract results safely\nconst results = resultsResponse.results || {};\nconst performance = results.performance || {};\nconst effluent = results.effluent || {};\nconst reactor = results.reactor || {};\n\nconst cod = performance.cod || {};\nconst nitrogen = performance.nitrogen || {};\nconst phosphorus = performance.phosphorus || {};\nconst tss = performance.tss || {};\n\n// Determine overall assessment\nlet assessment = 'Incomplete';\nif (evalData.exit_condition === 'completed') {\n  const cod_removal = cod.removal_pct || 0;\n  const nh4_eff = effluent.NH4_mg_N_L || 999;\n  \n  if (cod_removal > 95 && nh4_eff < 1) {\n    assessment = 'Excellent';\n  } else if (cod_removal > 85 && nh4_eff < 5) {\n    assessment = 'Good';\n  } else if (cod_removal > 75) {\n    assessment = 'Needs Optimization';\n  } else {\n    assessment = 'Poor';\n  }\n}\n\nlet status_text = evalData.exit_condition;\nif (status_text === 'hard_cancel') status_text = 'Terminated (hard cancel)';\nif (status_text === 'timeout') status_text = 'Timed Out';\nif (status_text === 'completed') status_text = 'Completed';\nif (status_text === 'failed') status_text = 'Failed';\n\nreturn {\n  json: {\n    report_date: new Date().toISOString(),\n    job_id: evalData.job_id,\n    template: ww.template,\n    status: status_text,\n    elapsed_seconds: evalData.elapsed_seconds,\n    timeout_setting: ww.timeout_seconds,\n    server_version: evalData.server_version,\n    assessment: assessment,\n    influent: {\n      flow_m3_d: ww.flow_m3_d,\n      COD_mg_L: ww.COD_mg_L,\n      TSS_mg_L: ww.TSS_mg_L,\n      NH4_mg_L: ww.NH4_mg_L,\n      TP_mg_L: ww.TP_mg_L,\n      temperature_C: ww.temperature_C\n    },\n    reactor: {\n      type: reactor.type || 'N/A',\n      V_total_m3: reactor.V_total_m3 || 'N/A',\n      HRT_hours: reactor.HRT_hours || 'N/A',\n      SRT_days: typeof reactor.SRT_days === 'number' ? reactor.SRT_days.toFixed(1) : 'N/A',\n      DO_aerobic: reactor.DO_aerobic_mg_L || 'N/A'\n    },\n    effluent: {\n      COD_mg_L: effluent.COD_mg_L ? effluent.COD_mg_L.toFixed(2) : 'N/A',\n      TSS_mg_L: effluent.TSS_mg_L ? effluent.TSS_mg_L.toFixed(2) : 'N/A',\n      NH4_mg_L: effluent.NH4_mg_N_L ? effluent.NH4_mg_N_L.toFixed(2) : 'N/A',\n      NO3_mg_L: effluent.NO3_mg_N_L ? effluent.NO3_mg_N_L.toFixed(2) : 'N/A',\n      PO4_mg_L: effluent.PO4_mg_P_L ? effluent.PO4_mg_P_L.toFixed(2) : 'N/A'\n    },\n    removal: {\n      COD_pct: cod.removal_pct ? cod.removal_pct.toFixed(1) : 'N/A',\n      TSS_pct: tss.removal_pct ? tss.removal_pct.toFixed(1) : 'N/A',\n      NH4_pct: nitrogen.removal?.NH4_removal_pct ? nitrogen.removal.NH4_removal_pct.toFixed(1) : 'N/A',\n      TN_pct: nitrogen.removal?.TN_removal_pct ? nitrogen.removal.TN_removal_pct.toFixed(1) : 'N/A',\n      TP_pct: phosphorus.removal?.TP_removal_pct ? phosphorus.removal.TP_removal_pct.toFixed(1) : 'N/A'\n    },\n    nitrification_pct: nitrogen.removal?.nitrification_efficiency_pct ? nitrogen.removal.nitrification_efficiency_pct.toFixed(1) : 'N/A',\n    denitrification_pct: nitrogen.removal?.denitrification_efficiency_pct ? nitrogen.removal.denitrification_efficiency_pct.toFixed(1) : 'N/A',\n    raw_results: resultsResponse\n  }\n};"
      },
      "id": "a3d749ff-0078-4cc6-8886-514c8bbed23b",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -240
      ],
      "notesInFlow": true,
      "notes": "Step 7: Interpret results"
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML report for Gotenberg PDF conversion\nconst data = $input.first().json;\n\n// Extract only what we need (exclude raw_results to reduce payload size)\nconst { raw_results, ...reportData } = data;\n\nconst incomplete_note = data.status !== 'Completed' \n  ? '<div class=\"warning\">Note: This simulation did not complete within the allocated time. Results shown are partial and may not represent steady-state conditions.</div>'\n  : '';\n\n// Generate full HTML report\nconst htmlReport = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Wastewater Simulation Report - ${data.job_id}</title>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; line-height: 1.6; color: #333; }\n    h1 { color: #2c3e50; border-bottom: 3px solid #3498db; padding-bottom: 10px; }\n    h2 { color: #34495e; margin-top: 30px; border-bottom: 1px solid #bdc3c7; padding-bottom: 5px; }\n    table { border-collapse: collapse; width: 100%; margin: 20px 0; }\n    th, td { border: 1px solid #ddd; padding: 12px; text-align: left; }\n    th { background-color: #3498db; color: white; }\n    tr:nth-child(even) { background-color: #f2f2f2; }\n    hr { border: none; border-top: 1px solid #bdc3c7; margin: 30px 0; }\n    .warning { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px 20px; margin: 20px 0; }\n    .header-info { background: #f8f9fa; padding: 15px; border-radius: 5px; margin-bottom: 20px; }\n    .header-info p { margin: 5px 0; }\n    .assessment { font-size: 1.2em; font-weight: bold; color: #27ae60; }\n    .section { margin-bottom: 30px; }\n  </style>\n</head>\n<body>\n  <h1>Wastewater Treatment Simulation Report</h1>\n  \n  <div class=\"header-info\">\n    <p><strong>Generated:</strong> ${new Date(data.report_date).toLocaleString()}</p>\n    <p><strong>Job ID:</strong> ${data.job_id}</p>\n    <p><strong>Template:</strong> ${data.template}</p>\n    <p><strong>Status:</strong> ${data.status}</p>\n    <p><strong>Elapsed Time:</strong> ${data.elapsed_seconds} seconds</p>\n  </div>\n\n  ${incomplete_note}\n\n  <div class=\"section\">\n    <h2>Executive Summary</h2>\n    <p>Simulation ${data.status.toLowerCase()} using the <strong>${data.template}</strong> template.</p>\n    <p class=\"assessment\">Overall Assessment: ${data.assessment}</p>\n  </div>\n\n  <div class=\"section\">\n    <h2>Influent Characteristics</h2>\n    <table>\n      <tr><th>Parameter</th><th>Value</th><th>Unit</th><th>Typical Range</th></tr>\n      <tr><td>Flow</td><td>${data.influent.flow_m3_d}</td><td>m3/d</td><td>-</td></tr>\n      <tr><td>COD</td><td>${data.influent.COD_mg_L}</td><td>mg/L</td><td>300-600</td></tr>\n      <tr><td>TSS</td><td>${data.influent.TSS_mg_L}</td><td>mg/L</td><td>200-400</td></tr>\n      <tr><td>NH4-N</td><td>${data.influent.NH4_mg_L}</td><td>mg/L</td><td>25-50</td></tr>\n      <tr><td>Total P</td><td>${data.influent.TP_mg_L}</td><td>mg/L</td><td>6-12</td></tr>\n      <tr><td>Temperature</td><td>${data.influent.temperature_C}</td><td>C</td><td>15-25</td></tr>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>Treatment System Configuration</h2>\n    <table>\n      <tr><th>Parameter</th><th>Value</th></tr>\n      <tr><td>Template</td><td>${data.template}</td></tr>\n      <tr><td>Reactor Type</td><td>${data.reactor.type}</td></tr>\n      <tr><td>Total Volume</td><td>${data.reactor.V_total_m3} m3</td></tr>\n      <tr><td>HRT</td><td>${data.reactor.HRT_hours} hours</td></tr>\n      <tr><td>SRT</td><td>${data.reactor.SRT_days} days</td></tr>\n      <tr><td>Aerobic DO</td><td>${data.reactor.DO_aerobic} mg/L</td></tr>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>Effluent Quality</h2>\n    <table>\n      <tr><th>Parameter</th><th>Influent</th><th>Effluent</th><th>Removal %</th></tr>\n      <tr><td>COD</td><td>${data.influent.COD_mg_L} mg/L</td><td>${data.effluent.COD_mg_L} mg/L</td><td>${data.removal.COD_pct}%</td></tr>\n      <tr><td>TSS</td><td>${data.influent.TSS_mg_L} mg/L</td><td>${data.effluent.TSS_mg_L} mg/L</td><td>${data.removal.TSS_pct}%</td></tr>\n      <tr><td>NH4-N</td><td>${data.influent.NH4_mg_L} mg/L</td><td>${data.effluent.NH4_mg_L} mg/L</td><td>${data.removal.NH4_pct}%</td></tr>\n      <tr><td>TN</td><td>-</td><td>-</td><td>${data.removal.TN_pct}%</td></tr>\n      <tr><td>TP</td><td>${data.influent.TP_mg_L} mg/L</td><td>${data.effluent.PO4_mg_L} mg/L</td><td>${data.removal.TP_pct}%</td></tr>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>Process Performance Analysis</h2>\n    <h3>Nitrification</h3>\n    <p>Nitrification efficiency: <strong>${data.nitrification_pct}%</strong></p>\n    <h3>Denitrification</h3>\n    <p>Denitrification efficiency: <strong>${data.denitrification_pct}%</strong></p>\n  </div>\n\n  <hr>\n\n  <div class=\"section\">\n    <h2>Technical Notes</h2>\n    <ul>\n      <li>Timeout Setting: ${data.timeout_setting} seconds</li>\n      <li>Actual Runtime: ${data.elapsed_seconds} seconds</li>\n      <li>Server Version: ${data.server_version}</li>\n    </ul>\n  </div>\n\n  <hr>\n  <p><em>Report generated by QSDsan Wastewater Simulation Engine v1.0</em></p>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...reportData,\n    report_html: htmlReport,\n    report_filename: `wastewater_simulation_${data.job_id}.pdf`\n  }\n};"
      },
      "id": "ebbc5cbe-eb9b-4ef3-8d6d-dbaba5bb8355",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -240
      ],
      "notesInFlow": true,
      "notes": "Step 8: Generate HTML report"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "report_html",
        "options": {
          "fileName": "index.html"
        }
      },
      "id": "0134ee84-4baa-4ddf-a62b-99414e7e4560",
      "name": "Create HTML File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        320,
        -352
      ],
      "notesInFlow": true,
      "notes": "Convert HTML string to file"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Env Parameters').item.json.gotenberg_url }}/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "4dd0c572-eba8-4a23-9c08-259ed2563ea2",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -352
      ],
      "notesInFlow": true,
      "notes": "Gotenberg HTML to PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Env Parameters').item.json.supabase_url }}/storage/v1/object/{{ $('Env Parameters').item.json.supabase_bucket }}/pdfs/wastewater_simulation_{{ $('Generate Report').item.json.job_id }}.pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Env Parameters').item.json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/pdf"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data"
      },
      "id": "f3fa0ba1-6460-4307-91d5-ee4e30c084b9",
      "name": "Upload PDF to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        -352
      ],
      "notesInFlow": true,
      "notes": "Upload PDF to Supabase Storage (HTTP Request for proper binary handling)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process PDF upload result from HTTP Request node\nconst env = $('Env Parameters').first().json;\nconst jobId = $('Generate Report').item.json.job_id;\nconst fileName = `pdfs/wastewater_simulation_${jobId}.pdf`;\nconst response = $input.first().json;\n\nconst publicUrl = `${env.supabase_url}/storage/v1/object/public/${env.supabase_bucket}/${fileName}`;\n\nreturn {\n  json: {\n    success: true,\n    file_type: 'pdf',\n    path: fileName,\n    public_url: publicUrl,\n    job_id: jobId,\n    upload_result: response\n  }\n};"
      },
      "id": "pdf-upload-success-handler",
      "name": "Process PDF Upload Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle PDF upload error\nconst jobId = $('Generate Report').item.json.job_id;\nconst fileName = `pdfs/wastewater_simulation_${jobId}.pdf`;\nconst errorData = $input.first().json;\n\nreturn {\n  json: {\n    success: false,\n    error: errorData.message || JSON.stringify(errorData),\n    file_type: 'pdf',\n    path: fileName,\n    job_id: jobId\n  }\n};"
      },
      "id": "pdf-upload-error-handler",
      "name": "Process PDF Upload Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -480
      ]
    },
    {
      "parameters": {},
      "id": "pdf-upload-merge",
      "name": "Merge PDF Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        992,
        -416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate CSV data from report\nconst data = $input.first().json;\n\n// Build CSV content\nconst csvRows = [\n  ['Parameter', 'Value'],\n  ['Job ID', data.job_id],\n  ['Report Date', data.report_date],\n  ['Template', data.template],\n  ['Status', data.status],\n  ['Elapsed Seconds', data.elapsed_seconds],\n  ['Assessment', data.assessment],\n  ['', ''],\n  ['INFLUENT', ''],\n  ['Flow (m3/d)', data.influent.flow_m3_d],\n  ['COD (mg/L)', data.influent.COD_mg_L],\n  ['TSS (mg/L)', data.influent.TSS_mg_L],\n  ['NH4-N (mg/L)', data.influent.NH4_mg_L],\n  ['TP (mg/L)', data.influent.TP_mg_L],\n  ['Temperature (C)', data.influent.temperature_C],\n  ['', ''],\n  ['EFFLUENT', ''],\n  ['COD (mg/L)', data.effluent.COD_mg_L],\n  ['TSS (mg/L)', data.effluent.TSS_mg_L],\n  ['NH4-N (mg/L)', data.effluent.NH4_mg_L],\n  ['NO3-N (mg/L)', data.effluent.NO3_mg_L],\n  ['PO4-P (mg/L)', data.effluent.PO4_mg_L],\n  ['', ''],\n  ['REMOVAL (%)', ''],\n  ['COD', data.removal.COD_pct],\n  ['TSS', data.removal.TSS_pct],\n  ['NH4', data.removal.NH4_pct],\n  ['TN', data.removal.TN_pct],\n  ['TP', data.removal.TP_pct],\n  ['', ''],\n  ['PERFORMANCE', ''],\n  ['Nitrification (%)', data.nitrification_pct],\n  ['Denitrification (%)', data.denitrification_pct],\n  ['', ''],\n  ['REACTOR', ''],\n  ['Type', data.reactor.type],\n  ['Volume (m3)', data.reactor.V_total_m3],\n  ['HRT (hours)', data.reactor.HRT_hours],\n  ['SRT (days)', data.reactor.SRT_days],\n  ['DO Aerobic (mg/L)', data.reactor.DO_aerobic]\n];\n\nconst csvContent = csvRows.map(row => row.join(',')).join('\\n');\n\nreturn {\n  json: {\n    job_id: data.job_id,\n    csv_content: csvContent\n  }\n};"
      },
      "id": "d35394fa-0c3c-4ec8-aa43-210a5282eec0",
      "name": "Generate CSV Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -160
      ],
      "notesInFlow": true,
      "notes": "Generate CSV from results"
    },
    {
      "parameters": {
        "jsCode": "// Upload CSV to Supabase Storage\nconst env = $('Env Parameters').first().json;\nconst data = $input.first().json;\n\nconst jobId = data.job_id;\nconst csvContent = data.csv_content;\nconst fileName = `csv/wastewater_simulation_${jobId}.csv`;\n\n// Upload to Supabase Storage - send CSV as string directly\ntry {\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${env.supabase_url}/storage/v1/object/${env.supabase_bucket}/${fileName}`,\n    headers: {\n      'Authorization': `Bearer ${env.supabase_key}`,\n      'Content-Type': 'text/csv; charset=utf-8',\n      'x-upsert': 'true'\n    },\n    body: csvContent,\n    json: false,\n    returnFullResponse: true\n  });\n\n  const publicUrl = `${env.supabase_url}/storage/v1/object/public/${env.supabase_bucket}/${fileName}`;\n\n  return {\n    json: {\n      success: true,\n      status: result.statusCode || 200,\n      file_type: 'csv',\n      path: fileName,\n      public_url: publicUrl,\n      job_id: jobId,\n      upload_result: result.body\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      file_type: 'csv',\n      path: fileName,\n      job_id: jobId\n    }\n  };\n}"
      },
      "id": "c23a95df-e237-4679-b3cc-97f606d67c59",
      "name": "Upload CSV to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -160
      ],
      "notesInFlow": true,
      "notes": "Upload CSV to Supabase Storage"
    },
    {
      "parameters": {
        "jsCode": "// Upload JSON results to Supabase Storage\nconst env = $('Env Parameters').first().json;\nconst data = $input.first().json;\n\nconst jobId = data.job_id;\nconst fileName = `json/wastewater_simulation_${jobId}.json`;\n\n// Convert JSON to string\nconst jsonContent = JSON.stringify(data, null, 2);\n\n// Upload to Supabase Storage using httpRequest\ntry {\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${env.supabase_url}/storage/v1/object/${env.supabase_bucket}/${fileName}`,\n    headers: {\n      'Authorization': `Bearer ${env.supabase_key}`,\n      'Content-Type': 'application/json',\n      'x-upsert': 'true'\n    },\n    body: jsonContent,\n    returnFullResponse: true\n  });\n\n  const publicUrl = `${env.supabase_url}/storage/v1/object/public/${env.supabase_bucket}/${fileName}`;\n\n  return {\n    json: {\n      success: true,\n      status: result.statusCode || 200,\n      file_type: 'json',\n      path: fileName,\n      public_url: publicUrl,\n      job_id: jobId,\n      upload_result: result.body\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      file_type: 'json',\n      path: fileName,\n      job_id: jobId\n    }\n  };\n}"
      },
      "id": "c1421b5d-8b40-490d-9070-8efa159c9e5f",
      "name": "Upload JSON to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "notesInFlow": true,
      "notes": "Upload JSON to Supabase Storage"
    },
    {
      "parameters": {},
      "id": "b66434e5-1dc2-4339-b7ce-88fb59e49dea",
      "name": "End (Success)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1440,
        -256
      ]
    },
    {
      "parameters": {},
      "id": "958969b2-fe67-4194-a3c7-f272da76bade",
      "name": "End (Error)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2672,
        0
      ]
    },
    {
      "parameters": {},
      "id": "79eabf7f-698f-473f-b10d-bc89be14a97d",
      "name": "End (Submit Error)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2032,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop back with updated data for next iteration\nconst evalData = $input.first().json;\n\nreturn {\n  json: {\n    ...evalData\n  }\n};"
      },
      "id": "21567e90-877f-4499-a35e-45b6843fa90f",
      "name": "Loop Back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through data after termination\nconst evalData = $('Evaluate Status').first().json;\n\nreturn {\n  json: {\n    ...evalData,\n    termination_response: $input.first().json\n  }\n};"
      },
      "id": "f9252766-4049-4a4f-bcaf-d134184bb65b",
      "name": "After Terminate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through data when no termination needed\nconst evalData = $input.first().json;\n\nreturn {\n  json: evalData\n};"
      },
      "id": "07a5b957-2aab-46be-b3b0-03916dd1be6c",
      "name": "Skip Terminate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -64
      ]
    },
    {
      "parameters": {},
      "id": "c814535d-f7dc-4881-bc4a-bb7020dacdef",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -512,
        -240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bce898b3-3c3c-43ea-b56a-3e752dddb980",
              "name": "template",
              "value": "mle_mbr_asm2d",
              "type": "string"
            },
            {
              "id": "fbb7c824-e1bc-4aa8-b4cc-9b0743420ada",
              "name": "timeout_seconds",
              "value": 300,
              "type": "number"
            },
            {
              "id": "2f2c30ee-08bc-4c09-b657-ae88dbe01f4d",
              "name": "check_interval_seconds",
              "value": 60,
              "type": "number"
            },
            {
              "id": "6ce0668a-c54b-4437-9809-e9249475cec0",
              "name": "hard_cancel_buffer",
              "value": 120,
              "type": "number"
            },
            {
              "id": "db00e2e9-40c1-466e-bbb6-7c4395426a46",
              "name": "flow_m3_d",
              "value": 4000,
              "type": "number"
            },
            {
              "id": "2c31fc91-8283-4c27-867c-688768b02ae0",
              "name": "temperature_C",
              "value": 20,
              "type": "number"
            },
            {
              "id": "a8b12c78-a185-4595-aef3-49affa5218d6",
              "name": "COD_mg_L",
              "value": 350,
              "type": "number"
            },
            {
              "id": "3d4094a3-8b47-4b06-a19c-11108426e764",
              "name": "NH4_mg_L",
              "value": 25,
              "type": "number"
            },
            {
              "id": "1a895679-8512-4b8e-b34f-f013c460b9ba",
              "name": "TP_mg_L",
              "value": 8,
              "type": "number"
            },
            {
              "id": "29ddd068-5996-4a65-a413-0fce470aa0a5",
              "name": "TSS_mg_L",
              "value": 220,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "72548ff7-d69b-4fbd-b107-febd67297b45",
      "name": "WW Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3536,
        -224
      ],
      "notesInFlow": true,
      "notes": "Configure simulation parameters here"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e8faea6-43ed-4267-a960-e36ce924ea76",
              "name": "server_ip",
              "value": "34.28.104.162",
              "type": "string"
            },
            {
              "id": "deec9d42-ce50-478d-ad98-843d740327b0",
              "name": "server_port",
              "value": "8080",
              "type": "string"
            },
            {
              "id": "fea802b5-1952-4f57-8adb-280aa3ed3096",
              "name": "gotenberg_url",
              "value": "http://34.28.104.162:3000",
              "type": "string"
            },
            {
              "id": "d731cd8d-ef0e-4b64-93d5-a0e4eec6a038",
              "name": "supabase_key",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "23216616-d177-4965-bc20-d34087d14b03",
              "name": "supabase_url",
              "value": "https://egrzvwnjrtpwwmqzimff.supabase.co",
              "type": "string"
            },
            {
              "id": "ea185044-86ac-47fc-a301-cbdf3cbc3677",
              "name": "supabase_bucket",
              "value": "panicleDevelop_1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9debba0e-8106-4219-9583-3222814cf157",
      "name": "Env Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3728,
        -224
      ],
      "notesInFlow": true,
      "notes": "Configure environment settings here"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16aacbaf-41e8-4e87-a86b-6d395ab028fa",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        -160
      ],
      "id": "a9e90991-9cb2-447a-85b4-407584f78e7f",
      "name": "CSV_Succeeded"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09510550-59d7-41dc-88ba-7a699a182ff7",
              "name": "path",
              "value": "={{ $('Upload CSV to Supabase').item.json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ed252424-9271-499c-97fb-0f926b8bc3a6",
      "name": "CSV_Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16aacbaf-41e8-4e87-a86b-6d395ab028fa",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        0
      ],
      "id": "4c445c35-ae08-4d5e-8cf1-52269cc9521a",
      "name": "JSON_Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09510550-59d7-41dc-88ba-7a699a182ff7",
              "name": "path",
              "value": "={{ $('Upload JSON to Supabase').item.json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2076a968-c096-47c1-90e8-d8bbf2aa27b7",
      "name": "JSON_Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09510550-59d7-41dc-88ba-7a699a182ff7",
              "name": "path",
              "value": "={{ $('Upload PDF to Supabase').item.json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a9818951-7ee1-46f5-a370-c9b0747a906e",
      "name": "PDF_Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16aacbaf-41e8-4e87-a86b-6d395ab028fa",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        -352
      ],
      "id": "2b88f042-6d6e-4de2-a53b-802190811f45",
      "name": "PDF_Succeeded"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Env Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Server Healthy?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server Healthy?": {
      "main": [
        [
          {
            "node": "Prepare Simulation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Server Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Server Error": {
      "main": [
        [
          {
            "node": "End (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Simulation": {
      "main": [
        [
          {
            "node": "Submit Simulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Simulation": {
      "main": [
        [
          {
            "node": "Submit OK?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit OK?": {
      "main": [
        [
          {
            "node": "Store Job ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Submit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Error": {
      "main": [
        [
          {
            "node": "End (Submit Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Job ID": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "Evaluate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Status": {
      "main": [
        [
          {
            "node": "Continue Polling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Polling?": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Need Terminate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Terminate?": {
      "main": [
        [
          {
            "node": "Terminate Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Terminate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terminate Job": {
      "main": [
        [
          {
            "node": "After Terminate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After Terminate": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Terminate": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Create HTML File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate CSV Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload JSON to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML File": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Upload PDF to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Supabase": {
      "main": [
        [
          {
            "node": "Process PDF Upload Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process PDF Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF Upload Success": {
      "main": [
        [
          {
            "node": "Merge PDF Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF Upload Error": {
      "main": [
        [
          {
            "node": "Merge PDF Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF Results": {
      "main": [
        [
          {
            "node": "PDF_Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CSV Data": {
      "main": [
        [
          {
            "node": "Upload CSV to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV to Supabase": {
      "main": [
        [
          {
            "node": "CSV_Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload JSON to Supabase": {
      "main": [
        [
          {
            "node": "JSON_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Env Parameters": {
      "main": [
        [
          {
            "node": "WW Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WW Parameters": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV_Succeeded": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CSV_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV_Error": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON_Success": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON_Error": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF_Succeeded": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF_Error": {
      "main": [
        [
          {
            "node": "End (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "57394201-f231-41d3-a302-37ae37eccda4",
  "meta": {
    "instanceId": "1a31eed7b82cb7f448f2abc5a538a777a1f9a344ccc5df5f3741cf94e7885baa"
  },
  "id": "RzJaWtpgldQbYD8L",
  "tags": [
    {
      "name": "qsdsan"
    },
    {
      "name": "wastewater"
    },
    {
      "name": "supabase"
    },
    {
      "name": "simulation"
    }
  ]
}
